# 문제
W-mart 매장의 판매 데이터를 기반으로 판매액을 예측하시오.

In [1]:
import pandas as pd
train= pd.read_csv('mart_train.csv')
test= pd.read_csv('mart_test.csv')

In [6]:
train.info()
target = train.pop('total')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          700 non-null    object
 1   city            700 non-null    object
 2   customer_type   700 non-null    object
 3   gender          700 non-null    object
 4   product_line    700 non-null    object
 5   total           700 non-null    float64
 6   payment_method  700 non-null    object
 7   rating          700 non-null    float64
 8   time_of_day     700 non-null    object
 9   day_name        700 non-null    object
dtypes: float64(2), object(8)
memory usage: 54.8+ KB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          300 non-null    object
 1   city            300 non-null    object
 2   customer_type   300 non-null    object
 3   gender          300 non-null    object
 4   product_line    300 non-null    object
 5   payment_method  300 non-null    object
 6   rating          300 non-null    float64
 7   time_of_day     300 non-null    object
 8   day_name        300 non-null    object
dtypes: float64(1), object(8)
memory usage: 21.2+ KB

In [8]:
# object가 너무 많아서 Label Encoder 사용해야함

In [9]:
train.isna().sum()

branch            0
city              0
customer_type     0
gender            0
product_line      0
payment_method    0
rating            0
time_of_day       0
day_name          0
dtype: int64

In [10]:
test.isna().sum()

branch            0
city              0
customer_type     0
gender            0
product_line      0
payment_method    0
rating            0
time_of_day       0
day_name          0
dtype: int64

In [11]:
train.shape, test.shape

((700, 9), (300, 9))

In [12]:
from sklearn.preprocessing import LabelEncoder

# [!] concat 방법 바로 떠올릴 수 있도록

In [15]:
concat = pd.concat([train, test])

In [16]:
concat.shape

(1000, 9)

In [17]:
concat.head()
#삭제할 건 없어보인다.

,branch,city,customer_type,gender,product_line,payment_method,rating,time_of_day,day_name
0,A,Yangon,Member,Female,Health and beauty,Ewallet,9.1,afternoon,Saturday
1,C,Naypyitaw,Normal,Female,Electronic accessories,Cash,9.6,morning,Friday
2,A,Yangon,Normal,Male,Home and lifestyle,Credit card,7.4,afternoon,Sunday
3,A,Yangon,Member,Male,Health and beauty,Ewallet,8.4,evening,Sunday
4,A,Yangon,Normal,Male,Sports and travel,Ewallet,5.3,morning,Friday

# [!] y should be a 1d array, got an array of shape (1000, 9) instead.

In [29]:
obj_col = concat.select_dtypes(include="O").columns # object 컬럼만 추출
obj_col #컬럼만 리스트

Index(['branch', 'city', 'customer_type', 'gender', 'product_line',
       'payment_method', 'time_of_day', 'day_name'],
      dtype='object')

In [31]:
for col in obj_col : 
    le = LabelEncoder()
    concat[col] = le.fit_transform(concat[col])

In [32]:
concat.head()

,branch,city,customer_type,gender,product_line,payment_method,rating,time_of_day,day_name
0,0,2,0,0,3,2,9.1,0,2
1,2,1,1,0,0,0,9.6,2,0
2,0,2,1,1,4,1,7.4,0,3
3,0,2,0,1,3,2,8.4,1,3
4,0,2,1,1,5,2,5.3,2,0

In [33]:
#다시 나누기
train = concat.iloc[:700,]
test = concat.iloc[700:,]

In [34]:
train.shape, test.shape

((700, 9), (300, 9))

In [35]:
# 트레인 세트 분기하기
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=42)

In [36]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [37]:
model = rf.fit(X_train, y_train)

In [38]:
pred = model.predict(X_val)

# [?] 호출 에러 mean_square_error => squared=False 잊지않기

In [48]:
from sklearn.metrics import root_mean_squared_error
#root_mean_squared_error
#annot import name 'mean_square_error' from 'sklearn.metrics' 
#result = mean_square_error(y_val, pred, )

ImportError: cannot import name 'root_mean_squared_error' from 'sklearn.metrics' (C:\Users\dothe\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [42]:
final_pred = model.predict(test)

In [43]:
final_pred

array([491005.1475, 474410.9475, 259956.4275, 523112.7825, 415654.3125,
       514573.92  , 504063.945 , 536429.25  , 411519.465 , 436401.63  ,
       500599.7325, 374268.9825, 396824.715 , 457406.6175, 357988.05  ,
       469804.23  , 705469.7475, 494287.29  , 649026.    , 486910.935 ,
       332027.955 , 653328.1125, 321412.455 , 703323.6525, 500648.8725,
       391552.7175, 435288.2625, 603520.785 , 411035.31  , 410355.54  ,
       520047.8325, 508881.87  , 511832.475 , 316772.3475, 586598.67  ,
       335450.745 , 573109.2675, 323001.    , 308642.5125, 476564.445 ,
       656175.0825, 444302.145 , 803088.2475, 564231.6225, 683944.695 ,
       565097.2425, 321633.27  , 560604.87  , 360149.7375, 687268.1025,
       592670.4525, 365390.3925, 596981.8575, 425824.245 , 664365.3975,
       576611.595 , 458314.1325, 592497.8325, 435821.715 , 554941.485 ,
       564611.355 , 367605.63  , 452608.2225, 597649.9725, 516740.6475,
       434145.915 , 454830.705 , 429435.72  , 397279.1025, 636561.2925,
       580880.6325, 510723.2025, 569294.3025, 474553.9575, 431965.3275,
       371536.515 , 538283.97  , 609647.22  , 425992.77  , 382106.34  ,
       528405.0975, 440504.0325, 533908.62  , 558095.58  , 650280.645 ,
       445215.8025, 485646.84  , 506906.3475, 494668.5975, 429337.755 ,
       689855.67  , 612771.39  , 592768.89  , 402083.955 , 610164.765 ,
       563052.42  , 542732.085 , 689566.3425, 422652.3525, 433976.2875,
       370489.14  , 602685.5625, 431570.6325, 357259.455 , 395354.925 ,
       497937.51  , 595553.9625, 409858.9425, 659668.4325, 503827.5375,
       389675.6325, 487377.135 , 792327.8475, 421010.8875, 363195.63  ,
       469192.185 , 444645.9675, 439353.3375, 542130.9075, 425839.995 ,
       310511.0925, 747532.8   , 344151.045 , 514756.305 , 695116.9575,
       670948.425 , 534343.1625, 584009.8425, 491110.9875, 571551.435 ,
       748193.5125, 529788.735 , 648207.7875, 523545.435 , 529414.9875,
       522570.51  , 280477.575 , 593679.3975, 490077.1575, 452143.5975,
       460279.1025, 636062.49  , 379168.65  , 568971.585 , 542464.335 ,
       368878.3875, 432885.4425, 685252.7325, 578472.615 , 349968.465 ,
       791662.5675, 460232.955 , 388102.995 , 465777.1125, 594597.3075,
       539458.4475, 531401.6925, 491030.9775, 646838.955 , 407143.6425,
       446343.66  , 468962.235 , 543742.92  , 440196.75  , 528031.035 ,
       608285.79  , 514722.285 , 469580.58  , 594670.7025, 718108.4925,
       416812.8825, 417468.555 , 507268.5975, 531620.9325, 459603.1125,
       369376.875 , 387660.735 , 279472.8825, 618681.735 , 320038.425 ,
       419440.9275, 609521.0625, 711447.975 , 667875.4425, 699230.07  ,
       467284.545 , 428221.395 , 625354.2225, 469145.4075, 461250.72  ,
       522649.7325, 349323.66  , 429507.3825, 339407.6175, 232166.97  ,
       548509.9725, 552667.9725, 485203.7925, 436940.595 , 661821.93  ,
       497367.045 , 470904.3675, 577832.85  , 467070.975 , 349265.2275,
       642749.625 , 387458.9775, 370520.01  , 501091.29  , 401808.1725,
       463147.1775, 353342.5875, 371919.87  , 759366.72  , 509361.1425,
       239215.8825, 482443.7625, 407617.56  , 391585.1625, 456943.8825,
       519966.72  , 534269.4525, 677227.7925, 513681.0525, 413291.97  ,
       332285.1525, 576263.205 , 400059.9225, 440830.53  , 417051.81  ,
       344412.6525, 609521.0625, 419763.645 , 524562.4125, 535272.255 ,
       485061.7275, 579102.3   , 542602.7775, 659347.605 , 475365.0825,
       456129.765 , 495034.785 , 382265.5725, 485563.365 , 532509.705 ,
       472390.5375, 456714.09  , 447857.0775, 492934.05  , 572330.745 ,
       493153.4475, 470490.3   , 682063.0425, 673124.76  , 351863.505 ,
       372943.305 , 494499.915 , 392232.8025, 557147.43  , 493985.52  ,
       655623.99  , 460294.8525, 842589.72  , 482732.775 , 380540.0025,
       471280.4775, 604095.345 , 531465.9525, 530452.2825, 298543.2975,
       374355.9225, 423163.5975, 434462.805 , 500082.03  , 454172.04  ,
       381062.745 , 414036.1575, 402590.0025, 520212.735 , 336006.72  ,
       661358.88  , 531045.1125, 596559.4425, 465389.82  , 478593.99  ,
       363147.9075, 429408.7875, 527551.92  , 677430.6525, 591944.22  ,
       575969.94  , 483043.995 , 487517.1525, 374538.78  , 513458.82  ,
       405427.68  , 519370.11  , 495976.635 , 305980.1325, 581328.405 ])

In [44]:
pd.DataFrame({"pred":final_pred}).to_csv("result.csv")