# 문제 1.-----------------------------------------------------------------------------
결측치가 있는 행을 제거한  후 학생이 가장 많이 수강한 과목을 찾고, 해당 과목 점수를 표준화(스탠더드 스케일)한 다음 가장 큰 표준화된 값을 구하시오. (반올림 소수 셋째자리)

In [1]:
import pandas as pd
df = pd.read_csv('student_assessment.csv')

In [2]:
df.head()

   id_assessment  student_id  study_period_days  score
0            103           0                 22   87.0
1             93           1                 70   92.0
2             15           2                 22    2.0
3            107           3                 22   51.0
4             72           4                 22   73.0

In [3]:
df.isna().sum()

id_assessment         0
student_id            0
study_period_days     0
score                21
dtype: int64

In [4]:
df = df.dropna()

In [5]:
df.isna().sum()

id_assessment        0
student_id           0
study_period_days    0
score                0
dtype: int64

# [?] 과목이 뭐지? 안 보인다. - id_assessment ?

In [16]:
max_id_ass = df['id_assessment'].value_counts().idxmax()

In [ ]:
#12라는 숫자가 빈도수가 제일 높아보인다.

In [17]:
max_id_ass

12

In [19]:
cond1 = df['id_assessment'] == max_id_ass

In [33]:
id_ass_12 = df[cond1]
id_ass_12

      id_assessment  student_id  study_period_days  score
80               12          85                 35   50.0
131              12         141                 70   32.0
342              12         365                 22   99.0
349              12         372                 22   49.0
368              12         394                 22   33.0
450              12         479                 35   68.0
513              12         543                 35   44.0
568              12         601                 22   21.0
926              12         981                 22   71.0
965              12        1023                 22   22.0
975              12        1033                 35   68.0
983              12        1042                 22   77.0
1141             12        1205                 35   18.0
1161             12        1225                 22   76.0
1203             12        1270                 70   12.0
1290             12        1362                 70   14.0
1291             12        1364                 22   72.0
1399             12        1477                 22   19.0
1480             12        1560                 70    4.0
1612             12        1701                 35   14.0
1642             12        1732                 35   11.0
1671             12        1764                 35   69.0
1813             12        1911                 70   10.0
1862             12        1963                 35    8.0
2051             12        2159                 70    3.0
2060             12        2170                 70   47.0
2080             12        2191                 22   34.0
2188             12        2309                 35   57.0
2225             12        2351                 70   84.0
2272             12        2399                 70   61.0
2309             12        2437                 22   39.0
2431             12        2562                 22   50.0
2548             12        2683                 22   37.0

# [?] 스탠더드 스케일.????

In [21]:
from sklearn.preprocessing import StandardScaler

In [32]:
id_ass_12.loc[:, 'score']

80      50.0
131     32.0
342     99.0
349     49.0
368     33.0
450     68.0
513     44.0
568     21.0
926     71.0
965     22.0
975     68.0
983     77.0
1141    18.0
1161    76.0
1203    12.0
1290    14.0
1291    72.0
1399    19.0
1480     4.0
1612    14.0
1642    11.0
1671    69.0
1813    10.0
1862     8.0
2051     3.0
2060    47.0
2080    34.0
2188    57.0
2225    84.0
2272    61.0
2309    39.0
2431    50.0
2548    37.0
Name: score, dtype: float64

# [?] id_ass_12.loc[:, 'score'] 을 scaler에 넣는 방법. DataFrame을 넣어야 한다.

In [34]:
scaler = StandardScaler()

In [37]:
scaled = scaler.fit_transform(id_ass_12[['score']])

In [46]:
# [?] ndarray는 sort()로 조정한다.

AttributeError: 'numpy.ndarray' object has no attribute 'sort_value'

In [48]:
import numpy as np

In [56]:
sorted_scaled = np.sort(scaled.reshape(-1))[::-1]
print(round(sorted_scaled[0], 3))

2.183

# [!] 간단한 방법

In [57]:
scaled.max()

2.183422032552496