# 문제 1------------------------------------------------------------------------------------

##### 1) 대륙별 맥주소비량의 평균을 계산하고 평균이 가장 큰 대륙을 찾으시오

In [1]:
import pandas as pd
df = pd.read_csv("drinks.csv")

In [2]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [6]:
grouped = df.groupby(['continent'])['beer_servings'].mean()

In [8]:
grouped.nlargest(1)

continent
Europe    193.777778
Name: beer_servings, dtype: float64

# [!] 또는 최대값의 인덱스를 ! 반환하려면 idxmax()를 쓴다

In [27]:
grouped.idxmax()

'Europe'

In [ ]:
### 답 : Europe

##### 2) 1번에서 찾은 대륙에서 맥주 소비량이 5번째로 많은 국가의 맥주 소비량을 구하시오.

# [?] object도 그룹바이에 나오려고 하면 어떻게 해야 했지?

In [17]:
cond1 = df['continent'] == 'Europe'

In [21]:
grouped2 = df[cond1].groupby('country')['beer_servings'].mean()

In [24]:
grouped2.nlargest(5)

country
Czech Republic    361.0
Germany           346.0
Lithuania         343.0
Poland            343.0
Ireland           313.0
Name: beer_servings, dtype: float64

In [25]:
grouped2.nlargest(5)[-1:]

country
Ireland    313.0
Name: beer_servings, dtype: float64

In [ ]:
# 답  : 313.0

# 문제 2------------------------------------------------------------------------------------

### 문제 1) '관광객비율' 이 두 번째로 높은 국가의 '사업' 방문객 수를 a 라고 정의하시오

In [63]:
import pandas as pd
df  = pd.read_csv('tourist.csv')

In [64]:
df.head()

    나라    관광   공무   사업   기타
0  국가1  1184  270  380   55
1  국가2  1059  184  267   86
2  국가3  1129  168  261   50
3  국가4   692  106  214  125
4  국가5  1335  296  296   84

# 관광객 비율

In [65]:
df['방문객합계'] = df['관광'] + df['공무'] + df['사업'] + df['기타']

In [66]:
df['관광객비율']  = df['관광'] /df['방문객합계']

In [67]:
df.head()

    나라    관광   공무   사업   기타  방문객합계     관광객비율
0  국가1  1184  270  380   55   1889  0.626787
1  국가2  1059  184  267   86   1596  0.663534
2  국가3  1129  168  261   50   1608  0.702114
3  국가4   692  106  214  125   1137  0.608619
4  국가5  1335  296  296   84   2011  0.663849

In [68]:
'''
a = df.nlargest(2, '관광객비율').iloc[1]['사업']
b = df.nlargest(2, '관광').iloc[1]['공무']
a+b
'''

441

# [!] 인덱스 뽑는 법 index[-1]

In [56]:
df['관광객비율'].nlargest(2).index[-1]

84

In [57]:
cond1 = df.loc[84]
a = cond1['사업']

In [58]:
cond1

나라           국가85
관광           1499
공무            130
사업            203
기타            114
방문객합계        1946
관광객비율    0.770298
Name: 84, dtype: object

### 문제 2) '관광'이 두 번째로 높은 국가의 '공무' 방문객 수를 b 라고 정의하시오.

In [72]:
df.nlargest(2, '관광').iloc[1]['공무']

238

In [ ]:
b = df.nlargest(2, '관광').iloc[1]['공무']

### 문제 3) a와 b의 합을 구하시오

In [73]:
a + b

441

# 문제 3------------------------------------------------------------------------------------

##### 문제1) 주어진 데이터에서 'co'와 'nmhc' 컬럼을 각각 Min-max 스케일링 하시오

In [75]:
import pandas as pd
df = pd.read_csv('chem.csv')

In [76]:
df.head()

  sample   co  nmhc  etc
0    샘플1   79    54   31
1    샘플2   84    57   58
2    샘플3  109    74  113
3    샘플4   15    77   21
4    샘플5   65    77  115

In [77]:
co_min_X = df['co'].min()
co_max_X = df['co'].max()

In [79]:
df['co_scaled'] = (df['co'] - co_min_X ) / (co_max_X - co_min_X)

In [81]:
nmhc_min_X = df['nmhc'].min()
nmhc_max_X = df['nmhc'].max()

In [82]:
df['nmhc_scaled'] = (df['nmhc'] - nmhc_min_X ) / (nmhc_max_X - nmhc_min_X)

# [!] 또는 MinMaxScaler(), scaler = fit.transform(df[['co']])

##### 문제2) 스케일링된 'co', 'nmhc' 컬럼의 표준편차를 각각 구하시오

# [?] 표준편차 어떻게?????  sum(x- 평균)에 루트 씌운 거 ??? -> 판다스  std()

In [83]:
co_std = df['co_scaled'].std()

In [84]:
nmhd_std = df['nmhc_scaled'].std()

##### 문제3) 'co'컬럼의 표준편차에서 'nmhc' 컬럼의 표준편차를 뺀 값을 소수점 3자리로 반올림하여 구하시오

In [85]:
round(co_std - nmhd_std, 3)

-0.017