### 문제. 통신사에서 고객에게 청구될 총 금액을 예측하시오

In [1]:
import pandas as pd
train = pd.read_csv("churn_train.csv")
test = pd.read_csv("churn_test.csv")

In [2]:
train.shape, test.shape

((4116, 19), (1764, 18))

In [3]:
train.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges
0,CUST0454,Male,0,No,No,7,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Electronic check,163.45
1,CUST1145,Female,1,No,Yes,53,No,No phone service,Fiber optic,Yes,Yes,No,Yes,Yes,Yes,Month-to-month,No,Credit card,4140.89
2,CUST1138,Female,1,No,Yes,68,No,No phone service,DSL,Yes,Yes,Yes,No,No,Yes,Month-to-month,No,Mailed check,5152.36
3,CUST2645,Male,1,No,Yes,44,No,No phone service,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Credit card,5251.84
4,CUST2632,Male,0,Yes,No,7,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,No,One year,No,Electronic check,725.69

# [!] customerID는 그냥 버리는 컬럼이야. 모델 입장에선 완전 노이즈라서, X에서 빼는 게 정답이다. 버리는 컬럼을 볼 줄 알아야 한다.

In [4]:
target = train['TotalCharges']

In [7]:
target.shape

(4116,)

In [8]:
X = train.drop('TotalCharges', axis=1)

In [9]:
X.pop('customerID')
test.pop('customerID')

0       CUST0769
1       CUST0675
2       CUST0210
3       CUST3795
4       CUST1829
          ...
1759    CUST4159
1760    CUST1431
1761    CUST1309
1762    CUST5334
1763    CUST0783
Name: customerID, Length: 1764, dtype: object

In [10]:
X.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
dtype: int64

In [11]:
test.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
dtype: int64

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4116 entries, 0 to 4115
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            4116 non-null   object
 1   SeniorCitizen     4116 non-null   int64
 2   Partner           4116 non-null   object
 3   Dependents        4116 non-null   object
 4   tenure            4116 non-null   int64
 5   PhoneService      4116 non-null   object
 6   MultipleLines     4116 non-null   object
 7   InternetService   4116 non-null   object
 8   OnlineSecurity    4116 non-null   object
 9   OnlineBackup      4116 non-null   object
 10  DeviceProtection  4116 non-null   object
 11  TechSupport       4116 non-null   object
 12  StreamingTV       4116 non-null   object
 13  StreamingMovies   4116 non-null   object
 14  Contract          4116 non-null   object
 15  PaperlessBilling  4116 non-null   object
 16  PaymentMethod     4116 non-null   object
dtypes: int64(2), object(15)
memory usage: 546.8+ KB

# [!] object 를 확인하고, 항상 변환해주기 - get_dummies 또는 labelEncoder(숙지 필수)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

# [!] cols = X.select_dtypes(include='0').columns

In [15]:
cols = X.select_dtypes(include='O').columns

In [16]:
for col in cols  :
    X[col] = le.fit_transform(X[col])
    test[col] = le.transform(test[col])

In [31]:
#X_encoded = pd.get_dummies(X)

In [34]:
#X_encoded.shape

(4116, 4159)

In [17]:
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,1,0,0,0,7,1,2,2,1,1,1,1,1,1,2,0,2
1,0,1,0,1,53,0,1,1,2,2,0,2,2,2,0,0,1
2,0,1,0,1,68,0,1,0,2,2,2,0,0,2,0,0,3
3,1,1,0,1,44,0,1,2,1,1,1,1,1,1,0,1,1
4,1,0,1,0,7,1,2,1,0,2,2,0,2,0,1,0,2

In [18]:
test.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
0,1,1,0,1,47,1,2,1,0,2,2,2,0,2,0,1,1
1,1,1,1,1,12,0,1,1,0,2,0,2,2,0,1,0,3
2,1,1,0,1,59,1,0,2,1,1,1,1,1,1,2,1,1
3,0,0,0,0,13,1,0,2,1,1,1,1,1,1,1,1,3
4,1,0,1,1,20,1,0,1,0,0,2,2,2,0,2,1,2

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.2, random_state=42)

In [21]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [22]:
model = rf.fit(X_train, y_train)

In [23]:
pred = model.predict(X_test)

In [24]:
from sklearn.metrics import mean_absolute_error
result = mean_absolute_error(y_test, pred)

# [!] 제출할 pred는 최종 모델에 test 돌린 것. test도 잘 처리해줘야 함.

In [59]:
#test_encoded = pd.get_dummies(test)

In [26]:
#test_encoded

In [27]:
final_result = model.predict(test)

In [28]:
final_result

array([3412.5583 ,  956.734  , 4399.4638 , ..., 4527.15545, 1200.5961 ,
       3463.7948 ])

# [!] to_csv 시 index=False!

In [29]:
pd.DataFrame({'pred':final_result}).to_csv("result.csv", index=False)