# 문제 ----------------------------------------------------------

건물 데이터를 기반으로 건물의 난방 부하(에너지 효율성)을 예측하시오.

In [57]:
import pandas as pd
train = pd.read_csv("energy_train.csv")
test = pd.read_csv("energy_test.csv")

In [58]:
train.shape, test.shape

((537, 10), (231, 9))

In [59]:
target = train.pop('Heat_Load')

In [60]:
print(target)

0       Very Low
1           High
2           High
3       Very Low
4           High
         ...
532     Very Low
533         High
534    Very High
535    Very High
536         High
Name: Heat_Load, Length: 537, dtype: object

In [23]:
#target =pd.get_dummies(target)

# [?] target 도 get_dummies

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
target = le.fit_transform(target)

In [35]:
print(target)

[4 0 0 4 0 1 0 4 2 4 2 4 1 0 3 4 3 1 4 0 1 4 1 0 4 0 3 4 4 4 4 0 4 0 3 1 4
 0 1 2 3 4 4 4 2 4 1 1 2 1 1 3 0 0 3 3 1 4 0 1 2 4 2 4 2 0 4 2 0 4 1 2 2 0
 1 1 0 0 2 4 0 2 0 4 1 1 4 4 2 1 4 4 1 1 0 3 4 1 1 0 4 2 4 2 4 1 3 0 2 1 3
 4 4 0 4 0 0 1 3 4 3 1 0 2 2 3 4 3 1 1 4 1 1 4 0 0 0 0 4 3 0 1 3 1 1 4 0 1
 0 0 4 4 1 2 4 3 1 3 0 3 0 4 1 4 2 4 3 0 1 3 1 3 3 0 0 0 2 3 0 3 1 1 1 3 2
 0 4 3 0 0 1 1 2 3 3 0 0 0 1 0 0 4 1 0 1 4 0 4 4 4 4 1 2 2 0 0 2 3 3 1 3 3
 0 3 0 0 3 3 4 1 1 0 2 1 4 4 1 4 0 4 1 4 2 0 3 4 0 1 0 0 4 0 1 3 0 2 0 0 0
 4 2 0 0 1 3 2 2 0 3 3 1 4 3 1 0 4 4 0 0 1 3 0 4 1 4 4 4 1 4 4 0 0 4 3 1 1
 3 0 4 4 1 0 2 0 4 1 2 0 4 1 4 1 4 0 1 3 1 2 1 1 0 4 4 0 3 3 1 1 0 3 1 1 1
 2 1 4 1 3 0 2 3 4 2 4 1 2 1 4 3 1 4 3 2 1 2 4 3 4 1 4 3 0 2 2 1 3 0 0 3 2
 3 1 4 2 1 4 4 4 1 1 4 0 2 4 3 1 4 1 4 0 3 4 0 0 4 3 2 2 1 4 1 1 4 1 2 2 1
 0 4 0 1 2 3 3 0 4 4 3 2 3 4 0 2 2 4 4 2 2 2 1 1 2 4 1 1 1 0 4 0 0 3 1 1 4
 1 4 2 1 1 3 4 1 2 1 0 0 3 1 4 4 1 2 4 2 4 0 4 4 0 4 0 0 4 1 0 2 4 4 1 4 4
 2 4 0 0 3 4 3 4 1 4 1 0 3 4 1 3 0 4 0 2 1 1 1 3 4 4 0 0 0 1 4 0 2 4 2 2 0
 1 3 4 2 3 2 4 4 1 0 4 3 4 0 4 0 3 3 0]

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Compac       537 non-null    float64
 1   Surf_Area    537 non-null    float64
 2   Wall_Area    537 non-null    float64
 3   Roof         537 non-null    object
 4   Height       537 non-null    object
 5   Orient       537 non-null    object
 6   Glaze_Area   537 non-null    float64
 7   Glaze_Distr  537 non-null    int64
 8   Cool_Load    537 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 37.9+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Compac       231 non-null    float64
 1   Surf_Area    231 non-null    float64
 2   Wall_Area    231 non-null    float64
 3   Roof         231 non-null    object
 4   Height       231 non-null    object
 5   Orient       231 non-null    object
 6   Glaze_Area   231 non-null    float64
 7   Glaze_Distr  231 non-null    int64
 8   Cool_Load    231 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 16.4+ KB

In [9]:
print(train.isna().sum(), test.isna().sum())

Compac         0
Surf_Area      0
Wall_Area      0
Roof           0
Height         0
Orient         0
Glaze_Area     0
Glaze_Distr    0
Cool_Load      0
dtype: int64 Compac         0
Surf_Area      0
Wall_Area      0
Roof           0
Height         0
Orient         0
Glaze_Area     0
Glaze_Distr    0
Cool_Load      0
dtype: int64

In [11]:
#train_object = train.select_dtypes(include='O')

In [61]:
train['is_train'] = 1
test['is_train'] = 0
concat_data = pd.concat([train, test])

In [62]:
concat_data = pd.get_dummies(concat_data)

In [63]:
concat_data.head()

,Compac,Surf_Area,Wall_Area,Glaze_Area,Glaze_Distr,Cool_Load,is_train,Roof_220.5,Roof_Large,Roof_Medium,Roof_Small,Height_Short,Height_Tall,Orient_East,Orient_North,Orient_South,Orient_West
0,0.74,686.0,245.0,0.25,3,14.72,1,1,0,0,0,1,0,0,0,1,0
1,0.98,514.5,294.0,0.40,2,33.94,1,0,0,0,1,0,1,0,0,1,0
2,0.90,563.5,318.5,0.25,1,37.58,1,0,0,1,0,0,1,0,0,0,1
3,0.74,686.0,245.0,0.25,2,15.18,1,1,0,0,0,1,0,0,0,1,0
4,0.98,514.5,294.0,0.25,2,29.69,1,0,0,0,1,0,1,1,0,0,0

In [64]:
train = concat_data[ concat_data['is_train'] == 1].drop('is_train', axis=1)
test = concat_data[ concat_data['is_train'] == 0].drop('is_train', axis=1)

In [65]:
train.head()

,Compac,Surf_Area,Wall_Area,Glaze_Area,Glaze_Distr,Cool_Load,Roof_220.5,Roof_Large,Roof_Medium,Roof_Small,Height_Short,Height_Tall,Orient_East,Orient_North,Orient_South,Orient_West
0,0.74,686.0,245.0,0.25,3,14.72,1,0,0,0,1,0,0,0,1,0
1,0.98,514.5,294.0,0.40,2,33.94,0,0,0,1,0,1,0,0,1,0
2,0.90,563.5,318.5,0.25,1,37.58,0,0,1,0,0,1,0,0,0,1
3,0.74,686.0,245.0,0.25,2,15.18,1,0,0,0,1,0,0,0,1,0
4,0.98,514.5,294.0,0.25,2,29.69,0,0,0,1,0,1,1,0,0,0

In [18]:
test.head()

,Compac,Surf_Area,Wall_Area,Glaze_Area,Glaze_Distr,Cool_Load,Roof_220.5,Roof_Large,Roof_Medium,Roof_Small,Height_Short,Height_Tall,Orient_East,Orient_North,Orient_South,Orient_West
0,0.64,784.0,343.0,0.40,4,22.25,1,0,0,0,1,0,0,0,1,0
1,0.82,612.5,318.5,0.40,3,32.43,0,1,0,0,0,1,0,1,0,0
2,0.76,661.5,416.5,0.10,5,33.64,0,0,1,0,0,1,0,0,1,0
3,0.74,686.0,245.0,0.40,1,17.25,1,0,0,0,1,0,1,0,0,0
4,0.64,784.0,343.0,0.25,5,20.13,1,0,0,0,1,0,0,1,0,0

# [!] X, y 순서 헷갈리지 말기

In [66]:
# train, test split
from sklearn.model_selection import train_test_split

# X, y 순서 헷갈리지 말기
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.3, random_state=42)

In [67]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model = rf.fit(X_train, y_train)

In [68]:
pred = model.predict(X_val)

In [69]:
from sklearn.metrics import f1_score

# [?] method 아닌가??
==> average 라고 한다.

In [70]:
result = f1_score(y_val, pred, method='macro') # method 아닌가??

TypeError: f1_score() got an unexpected keyword argument 'method'

In [71]:
result = model.predict(test)

In [72]:
print(result)

['Low' 'High' 'High' 'Low' 'Low' 'Very Low' 'Very Low' 'Low' 'High' 'Low'
 'Very High' 'Low' 'Very Low' 'Medium' 'Very High' 'Low' 'Very Low' 'Low'
 'Very Low' 'Very Low' 'Low' 'Very High' 'High' 'Very Low' 'High' 'Low'
 'High' 'High' 'Low' 'Low' 'High' 'Very Low' 'Low' 'Medium' 'Very High'
 'High' 'Very High' 'Very High' 'Low' 'Very High' 'Very Low' 'Medium'
 'Very Low' 'Very High' 'High' 'Low' 'Very Low' 'Low' 'Low' 'High' 'High'
 'Medium' 'Very Low' 'Low' 'Low' 'High' 'Low' 'High' 'Very High' 'Low'
 'Very Low' 'Low' 'Very Low' 'High' 'Very Low' 'Low' 'Very High' 'Low'
 'Very Low' 'Very High' 'High' 'Low' 'Low' 'Medium' 'Very Low' 'High'
 'High' 'High' 'Very Low' 'Very Low' 'High' 'Low' 'Medium' 'Low' 'Low'
 'Very Low' 'Low' 'Low' 'High' 'Very Low' 'Very Low' 'Very High' 'High'
 'Very Low' 'High' 'High' 'High' 'Very Low' 'Medium' 'Low' 'High' 'Low'
 'High' 'High' 'Very High' 'Medium' 'Medium' 'High' 'Low' 'Very Low'
 'Very Low' 'Very Low' 'Medium' 'Very High' 'Very Low' 'Very High' 'High'
 'High' 'Very High' 'Very Low' 'Very Low' 'Low' 'Very Low' 'Very Low'
 'High' 'Low' 'Low' 'Low' 'Low' 'High' 'Very High' 'Very Low' 'Very Low'
 'High' 'Low' 'Very High' 'Very High' 'Very Low' 'Low' 'Very Low'
 'Very Low' 'Very High' 'Low' 'Very Low' 'Low' 'Low' 'Very High' 'Low'
 'Very Low' 'High' 'Very Low' 'Low' 'Very High' 'High' 'Very Low' 'Low'
 'High' 'Medium' 'Low' 'Low' 'Very Low' 'Low' 'Low' 'Low' 'Medium'
 'Medium' 'Low' 'High' 'Very Low' 'High' 'High' 'Low' 'Very High' 'Low'
 'Low' 'High' 'High' 'Medium' 'Low' 'Medium' 'Medium' 'Medium' 'Very Low'
 'Low' 'Medium' 'Very Low' 'Low' 'Low' 'Very Low' 'Very Low' 'High' 'Low'
 'Very Low' 'Very Low' 'Low' 'Very High' 'Very Low' 'Very High'
 'Very High' 'Low' 'Low' 'Very High' 'Very Low' 'High' 'Very Low' 'Low'
 'Low' 'Low' 'Medium' 'Very Low' 'Medium' 'Low' 'Low' 'Very Low'
 'Very Low' 'Medium' 'Very Low' 'Very Low' 'Low' 'High' 'Very High' 'Low'
 'Low' 'Very Low' 'High' 'High' 'Very Low' 'Medium' 'Very Low' 'Low'
 'Very High']

In [73]:
pd.DataFrame({'pred':result}).to_csv("result.csv", index=False)