# 문제 1--------------------------------------------------------------------

출동시간과 도착시간 차이가, 평균적으로 가장 오래 걸린 소방서의 시간을, 분으로 변환해 출력하시오.

In [1]:
import pandas as pd
df = pd.read_csv('data6-1-1.csv')

In [18]:
df.head()

    소방서                 출동시간                 도착시간            시간차이
0  소방서1  2023-09-16 06:12:29  2023-09-16 07:51:55 0 days 01:39:26
1  소방서5  2023-09-19 06:11:41  2023-09-19 08:08:36 0 days 01:56:55
2  소방서1  2023-09-14 06:12:00  2023-09-14 07:24:21 0 days 01:12:21
3  소방서6  2023-09-20 06:12:24  2023-09-20 06:30:45 0 days 00:18:21
4  소방서9  2023-09-15 06:11:50  2023-09-15 06:44:00 0 days 00:32:10

In [22]:
grouped = df.groupby(['소방서']).mean()

C:\Users\dothe\AppData\Local\Temp\ipykernel_16576\240025605.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  grouped = df.groupby(['소방서']).mean()

In [25]:
grouped['시간차이'].sort_values(ascending=False)

소방서
소방서9    0 days 01:20:39.533333333
소방서5              0 days 01:01:15
소방서2    0 days 01:00:13.714285714
소방서7    0 days 00:56:40.222222222
소방서1    0 days 00:54:57.142857142
소방서4       0 days 00:49:08.200000
소방서3    0 days 00:43:29.444444444
소방서8       0 days 00:42:41.625000
소방서10      0 days 00:42:21.900000
소방서6       0 days 00:41:45.875000
Name: 시간차이, dtype: timedelta64[ns]

In [ ]:
# 소방서 9의 1:20:39, -> 81분

In [6]:
cond1= pd.to_datetime(df['도착시간'])
cond2= pd.to_datetime(df['출동시간'])

In [7]:
df['시간차이'] = cond1 - cond2

In [9]:
df.head()

    소방서                 출동시간                 도착시간            시간차이
0  소방서1  2023-09-16 06:12:29  2023-09-16 07:51:55 0 days 01:39:26
1  소방서5  2023-09-19 06:11:41  2023-09-19 08:08:36 0 days 01:56:55
2  소방서1  2023-09-14 06:12:00  2023-09-14 07:24:21 0 days 01:12:21
3  소방서6  2023-09-20 06:12:24  2023-09-20 06:30:45 0 days 00:18:21
4  소방서9  2023-09-15 06:11:50  2023-09-15 06:44:00 0 days 00:32:10

In [13]:
long = df['시간차이'].sort_values(ascending=False).idxmax()

In [15]:
df.loc[long]

소방서                    소방서9
출동시간    2023-09-12 06:12:26
도착시간    2023-09-12 08:12:22
시간차이        0 days 01:59:56
Name: 53, dtype: object

In [16]:
df.loc[long]['시간차이']

Timedelta('0 days 01:59:56')

In [ ]:
#답 60 + 59 = 119분 약 120분 ㅠㅠ

# [!] datetime의 '분' 으로 변환하는 기능 - total_seconds()

# 문제 2--------------------------------------------------------------------

학교에서 교사 한 명당(?) 맡은 학생의 수가 가장 많은 학교를 찾고 -> 그 학교의 전체 교사 수를 구하시오(sum)

In [26]:
import pandas as pd
df = pd.read_csv("data6-1-2.csv")

In [27]:
df.head()

   학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년
0  학교1   20  118   72  154  118   77   59
1  학교2   31  187  193  135  137   63   90
2  학교3   23  136  193  135  112   91   50
3  학교4   32   72  146   67   51  130  164
4  학교5   22   61   73   86   82   55  124

In [28]:
df.shape

(100, 8)

In [29]:
# 학교별로 묶어본다. 
df.groupby(['학교명']).sum()

       교사수  1학년  2학년  3학년  4학년  5학년  6학년
학교명
학교1     20  118   72  154  118   77   59
학교10    34  117   93  135  136  191  150
학교100   40   68  109  196  148   84  179
학교11    21  166  149  196  136   54   98
학교12    37   72  143   53  140  108  153
...    ...  ...  ...  ...  ...  ...  ...
학교95    40  190   73   50  198   86  183
학교96    38   75  166  113  191  172   57
학교97    30  125  169  145  122  187  194
학교98    37  136  100   93   60  145   63
학교99    37   74  175  145  157   95   76

[100 rows x 7 columns]

# [!] 총 학생 수 계산

df['총학생수'] = df.iloc[:, 2:].sum(axis=1)

In [35]:
# 학생의 수를 다 더하고 -> 교사수로 나눈다
df['전체학생수'] = df['1학년'] + df['2학년']+ df['3학년']+ df['4학년']+ df['5학년']+ df['6학년']

In [36]:
df.head()

   학교명  교사수  1학년  2학년  3학년  4학년  5학년  6학년  전체학생수
0  학교1   20  118   72  154  118   77   59    598
1  학교2   31  187  193  135  137   63   90    805
2  학교3   23  136  193  135  112   91   50    717
3  학교4   32   72  146   67   51  130  164    630
4  학교5   22   61   73   86   82   55  124    481

In [37]:
df['교사별학생수'] = df['전체학생수'] / df['교사수']

In [56]:
school_id = df['교사별학생수'].sort_values(ascending=False)

In [57]:
max_id = school_id.idxmax()

In [59]:
df.iloc[max_id]['교사수']

19

In [ ]:
# 답 19

# 문제 3--------------------------------------------------------------------

연도별로(groupby) 총 범죄 건수(범죄 유형별 발생 건수의 합)의 월평균 값을 구한후 (mean)
그 값이 가장 큰 연도를 찾아(max) 해당 연도의 총 범죄 건수의 월평균 값을 출력하시오.(반올림하여 정수 출력)

In [60]:
import pandas as pd
df = pd.read_csv('data6-1-3.csv')

In [62]:
df.head()

          날짜  강력범죄  절도범죄  폭력범죄  지능범죄  풍속범죄  교통범죄  경찰서명
0  2020년 01월    22   102    86    62    28   212  B경찰서
1  2020년 02월    26   138    80    61    31   183  E경찰서
2  2020년 03월    14   129    76    60    29   202  C경찰서
3  2020년 04월    26   142    83    71    33   182  B경찰서
4  2020년 05월    28   131    80    72    28   212  B경찰서

# [?] 날짜 obj에 직접 접근해서 연도만 뽑으려면? 
=> df['날짜'].str[0:4] 
=> 또는 df['변환날짜'].dt.to_period('Y') 
=> 또는 df['date'].dt.year

In [68]:
df['변환날짜'] = pd.to_datetime(df['날짜'], format='%Y년 %M월')

In [92]:
# 1번 적고, 아까 3번 봤는데 까먹음, to past? pastron? trans? to_part? Properties? to_type =>> to_period
#df['변환날짜'].dt.to_patron('Y')
df['연도'] = df['날짜']
date_len = len(df['날짜'])
print(date_len)
for i in range(0,date_len-1) : 
    df['연도'][i] = df['날짜'][i][0:4]
    # df.str으로 접근해도 됨

60

C:\Users\dothe\AppData\Local\Temp\ipykernel_16576\1362906264.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['연도'][i] = df['날짜'][i][0:4]

In [101]:
df.iloc[:, 1:7]

    강력범죄  절도범죄  폭력범죄  지능범죄  풍속범죄  교통범죄
0     22   102    86    62    28   212
1     26   138    80    61    31   183
2     14   129    76    60    29   202
3     26   142    83    71    33   182
4     28   131    80    72    28   212
5     22   104    84    72    34   201
6     14   134    84    72    32   182
7     27   101    71    67    31   198
8     21   108    87    70    33   187
9     21   114    89    61    32   212
10    22   134    79    64    35   198
11    13   118    82    76    37   236
12    16   104    82    60    25   206
13    19   145    88    60    30   204
14    12   136    79    72    32   233
15    26   106    87    71    28   216
16    13   140    75    80    29   187
17    12   131    78    65    30   201
18    12   116    79    65    31   202
19    25   129    77    69    33   185
20    28   107    71    71    32   203
21    18   130    71    77    30   206
22    12   140    82    73    32   187
23    27   108    90    89    20   213
24    23   140    83    60    26   219
25    11   111    73    60    31   211
26    17   125    87    76    25   220
27    10   112    78    78    28   185
28    20   122    76    74    30   192
29    24   139    87    77    29   192
30    19   107    79    80    30   193
31    27   124    81    62    29   187
32    25   108    76    66    28   182
33    25   134    71    75    33   189
34    26   122    72    62    31   180
35    22   104    87    80    31   181
36    28   127    90    73    33   202
37    10   102    96    73    33   166
38    29   140    70    79    34   211
39    17   123   100    62    32   201
40    11   138    70    75    35   190
41    30   128    78    74    34   216
42    30   144    74    73    31   248
43    26   120    86    76    33   188
44    11   117    86    65    33   192
45    12   117    86    67    28   200
46    22   103    83    72    33   196
47    28   124    83    61    27   209
48    10   140    90    65    31   184
49    16   137    72    80    30   180
50    17   144    84    76    34   197
51    14   150    85    75    31   181
52    22   119    73    74    34   200
53    30   122    70    70    24   161
54    21   115    76    62    35   151
55    17   104    98    85    24   180
56    21   128    84    69    31   181
57    20   105    80    77    33   188
58    25   148    90    67    33   210
59    21   142    77    62    35   183

In [117]:
df.groupby(['연도']).mean()

,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,교통범죄,총범죄건수
연도,,,,,,,
2020,21.333333,121.250000,81.750000,67.333333,31.916667,200.416667,524.000000
2021,18.333333,124.333333,79.916667,71.000000,29.333333,203.583333,526.500000
2022,20.750000,120.666667,79.166667,70.833333,29.250000,194.250000,514.916667
2023,21.166667,123.583333,83.500000,70.833333,32.166667,201.583333,532.833333
2024,19.363636,128.363636,82.000000,72.727273,30.909091,183.000000,516.363636
2024년 12월,21.000000,142.000000,77.000000,62.000000,35.000000,183.000000,520.000000

In [102]:
df['총범죄건수'] = df.iloc[:, 1:7].sum(axis=1)

In [119]:
#grouped = df.groupby(['연도', '날짜']).mean()
grouped = df.groupby(['연도']).mean()

In [ ]:
# 월평균 합?`?? 무슨 값??? 전체 중에서 가장 값이 큰거지?

In [120]:
grouped['총범죄건수'].sort_values(ascending=False)

연도
2023         532.833333
2021         526.500000
2020         524.000000
2024년 12월    520.000000
2024         516.363636
2022         514.916667
Name: 총범죄건수, dtype: float64

In [110]:
# 2023       2023년 07월    600.0

In [128]:
result = grouped['총범죄건수'].sort_values(ascending=False)[0]
result = round(result, 0)
print(result)
result = result.astype(int)

533.0

In [ ]:
# 연도의 월평균 값?