# 문제1 --------------------------------------------------

In [ ]:
주어진 데이터에서 views 컬럼을 기준으로 내림차순 정렬하고
views 컬럼 상위 10개 데이터를 view컬럼 상위 10번째 값으로 대체한 후
age 컬럼이 80 이상인 데이터의 view 컬럼의 평균값을 구하시오(반올림 소수 둘째 자리까지)

In [1]:
import pandas as pd
df = pd.read_csv('members.csv')

In [2]:
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

 # [?] 특정 컬럼 기준 내림차순? sort_values =by !
df.sort_values(columns='view', ascending=False)

In [29]:
sorted_views = df.sort_values(by='views', ascending=False)

In [30]:
sorted_views

       id   age city    f1  f2   f3    f4         f5  subscribed    views
5    id06  22.0   서울  57.0   0  vip  INTP  20.129444  2021-09-12  21550.0
56   id56  59.0   대구   NaN   1  vip  ESTJ  73.586397  2021-04-05  19589.0
83   id83  73.0   경기  50.0   1  vip  ENTP  80.138280  2021-09-26  19139.0
32   id32  25.0   부산  64.0   0  vip  ISFJ  13.049921  2021-05-24  17421.0
10  id100  47.0   경기  53.0   0  vip  ESFP  33.308999  2021-02-21  15535.0
..    ...   ...  ...   ...  ..  ...   ...        ...         ...      ...
93   id93  21.8   경기  57.0   0  NaN  ISFP  73.586397  2021-06-07     42.0
20   id20  11.0   서울  51.0   1  NaN  INTJ  91.297791  2021-07-16      NaN
39   id39  56.0   부산  50.0   0  NaN  INFJ  33.308999  2021-12-22      NaN
48   id48  18.0   대구   NaN   0  NaN  ENFP  20.129444  2021-03-25      NaN
82   id82  48.0   경기   NaN   0  NaN  ENTJ  37.113739  2021-10-17      NaN

[100 rows x 10 columns]

In [34]:
sorted_views.loc[sorted_views.index[:10], 'views'] = sorted_views['views'].iloc[9]

In [ ]:
# [!] 여기서 틀림. 상위 10번째 중 10번째 값으로 대치했어야 했음

In [28]:
sorted_views['views'].iloc[9]

9690.0

In [27]:
#sorted_views['views'][0:9] = sorted_views['views'].max()
#sorted_views['views'][0:9] = sorted_views['views'].iloc[9]
#sorted_views[0:9, 'views'] = sorted_views['views'].iloc[9]

TypeError: unhashable type: 'slice'

In [35]:
sorted_views['views']

5     9690.0
56    9690.0
83    9690.0
32    9690.0
10    9690.0
       ...
93      42.0
20       NaN
39       NaN
48       NaN
82       NaN
Name: views, Length: 100, dtype: float64

In [37]:
cond11 = sorted_views['age'] >= 80

In [38]:
result = sorted_views[cond11]['views'].mean()

In [39]:
result = round(result, 2)

In [40]:
print(result)

5674.04

# 문제2 --------------------------------------------------

주어진 데이터셋에서 앞에서부터 순서대로 80퍼센트 데이터만 활용해 f1 컬럼 결측치를 
중앙값으로 채우기 전후의 표본 표준편차를 구하고,두 표본 표준편차의 차이를 계산하시오. 
(두 표본 표준편차의 차이는 절댓값으로 계산하고,반올림하여 소수 둘째자리까지 계산)

In [80]:
import pandas as pd
df = pd.read_csv('members.csv')

In [81]:
df.head()
print(len(df))

100

In [79]:
###################################################
line = int(len(df)*0.8)
print(line)
df= df.iloc[:line]

std1 = df['f1'].std()
print(std1)
med = df['f1'].median()
print(med)
df['f2'] = df['f1'].fillna(med)

std2 = df['f2'].std()
print(std2)
result = abs(std1-std2)
print(round(result,2))
###################################################

80
20.574853076621935
68.0
17.010788646613275
3.56

In [82]:
# 앞에서부터 80% 데이터 활용
int(len(df)*0.8)

80

In [83]:
df = df.iloc[:int(len(df)*0.8)]

In [84]:
len(df)

80

In [85]:
# f1 컬럼 결측치를 중앙값으로 채우기 전의 표본 표준편차
before_f1 = df['f1'].std()
print(before_f1)

20.574853076621935

In [86]:
# f1 컬럼 결측치를 중앙값으로 채우기 후의 표본 표준편차
f1_median = df['f1'].median()

In [87]:
print(f1_median)

68.0

In [88]:
df['f1_fill'] = df['f1'].fillna(f1_median)

In [89]:
after_f1 = df['f1_fill'].std()

In [90]:
print(after_f1)

17.010788646613275

In [91]:
round(abs(before_f1 - after_f1), 2)

3.56

# 앞으로 처음부터 한 번씩 다 쳐보기 또는 종료 후 함수 한꺼번에 모아 치기

주어진 데이터셋의 age 컬럼의 이상치를 모두 더하시오. 이상치는 평균으로부터
표준편차 * 1.5를 벗어나는 영역을 이상치라고 판단한다.

In [92]:
import pandas as pd
df = pd.read_csv('members.csv')

In [93]:
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

In [104]:
# age의 이상치 구하기
age_mean = df['age'].mean()
print("age_mean:", age_mean)

baseline = df['age'].std() * 1.5
print("baseline:", baseline)

# 평균으로부터 표준편차 1.5 를 벗어난다는게 이상치라는게 무슨말일까. 한국말을 이해하지 못하겠다.
cond1 = df['age'] > (age_mean+ baseline)
cond2 = df['age'] < (age_mean-baseline)

print(df['age'][cond1|cond2].sum())
print(sum(df['age'][cond1|cond2]))
print(sum(df['age'][cond1]))

age_mean: 50.963
baseline: 45.66413778388305
473.5
473.5
491.0

In [106]:
df['age'][cond1]

37    100.0
45     97.0
52     97.0
92     97.0
97    100.0
Name: age, dtype: float64

In [105]:
df['age'][cond2]

0      2.0
8      3.3
22    -6.3
29   -13.5
57     3.0
58     0.0
70    -9.0
86     2.0
99     1.0
Name: age, dtype: float64