# 문제1------------------------------------------------------------------------------------

종량제 봉투 종류가 규격봉투고 종량제 봉투 용도가 음식물쓰레기인 2L 가격 평균을 구하시오.
단 가격이 0이면 평균에서 제외하고, 반올림 후 정수를 출력하시오.

In [1]:
import pandas as pd
df = pd.read_csv('data5-1.csv')

In [2]:
df.head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [4]:
cond1 = df['종량제봉투종류'] == '규격봉투'
cond2 = df['종량제봉투용도'] == '음식물쓰레기'

In [5]:
df[cond1 & cond2].head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,...,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
17,경기도,오산시,규격봉투,소각용,음식물쓰레기,가정용,40,0,80,0,...,0,0,0,0,0,청소자원과,031-8036-6714,2022-08-04,4000000,경기도 오산시
24,경기도,연천군,규격봉투,소각용,음식물쓰레기,가정용,0,0,0,0,...,0,0,0,0,0,환경보호과,031-839-2253,2022-06-13,4140000,경기도 연천군

In [16]:
#result = df[cond1 & cond2]['2ℓ가격'].mean()
# 가격이 0인것들은 평균에서 제외하라.
edited = df[cond1 & cond2]

In [17]:
cond3 = edited['2ℓ가격'] != 0

In [20]:
edited[cond3].head()

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1ℓ가격,1.5ℓ가격,2ℓ가격,2.5ℓ가격,...,60ℓ가격,75ℓ가격,100ℓ가격,120ℓ가격,125ℓ가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
17,경기도,오산시,규격봉투,소각용,음식물쓰레기,가정용,40,0,80,0,...,0,0,0,0,0,청소자원과,031-8036-6714,2022-08-04,4000000,경기도 오산시
29,서울특별시,동대문구,규격봉투,소각용,음식물쓰레기,가정용,100,0,190,0,...,0,0,0,0,0,청소행정과,02-2127-4725,2022-05-03,3050000,서울특별시 동대문구
34,경기도,파주시,규격봉투,소각용,음식물쓰레기,가정용,60,0,100,0,...,0,0,0,0,0,자원순환과,031-940-4473,2022-04-15,4060000,경기도 파주시
37,서울특별시,성북구,규격봉투,기타,음식물쓰레기,가정용,100,0,190,0,...,0,0,0,0,0,청소행정과,02-2241-4418,2022-04-25,3070000,서울특별시 성북구
42,서울특별시,강북구,규격봉투,매립용,음식물쓰레기,가정용,100,0,200,0,...,0,0,0,0,0,서울특별시 강북구 청소행정과,02-901-6795,2022-04-20,3080000,서울특별시 강북구

In [35]:
result = edited[cond3]['2ℓ가격'].mean()

117.78846153846153

In [37]:
result = round(result) #반올림 후 정수 출력이요 ㅠㅠ 이러면 틀립니다.

In [38]:
print(result)

118

# 문제2------------------------------------------------------------------------------------

bmi 수치가 정상인 사람 수와 위험체중인 사람 수의 차이를 절댓값으로 구하시오. (정수로 출력)

In [39]:
import pandas as pd
df = pd.read_csv("data5-2.csv")

In [40]:
df.head()

  Gender  Height  Weight
0   Male   187.6   109.7
1   Male   174.7    73.6
2   Male   188.2    96.5
3   Male   182.2    99.8
4   Male   177.5    93.6

# [?] 제곱 단위라는게 뭘까?

In [68]:
#bmi 구하기 - 몸무게 / 키 -> 제곱 단위라는게 뭘까?
df['bmi'] = ((df['Weight'] / df['Height'])**2) *100

In [84]:
df['bmi2'] = (df['Weight'] / (df['Height']/100)**2)

In [69]:
# 이거100도 곱해줘야 하나

In [70]:
df.head()

  Gender  Height  Weight        bmi
0   Male   187.6   109.7  34.193817
1   Male   174.7    73.6  17.748834
2   Male   188.2    96.5  26.291501
3   Male   182.2    99.8  30.002976
4   Male   177.5    93.6  27.807054

# [?] bmi 범위 구하기

In [47]:
# ? The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
#df['상태'] = '정상체중' if (df['bmi'] >=18.5 )&(df['bmi']<23) elif (df['bmi'] >=18.5 )&(df['bmi']<23) then '위험체중' else '그 외'


#elif (df['bmi'] >=18.5 )&(df['bmi']<23) else '그 외 '

SyntaxError: invalid syntax (3328868261.py, line 2)

In [71]:
cond1 = (df['bmi'] >=18.5) & (df['bmi'] < 23)

In [80]:
normal = len(df[cond1])
print(normal)

2418

In [81]:
cond2 = (df['bmi'] >=23) & (df['bmi'] < 25)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: bmi, Length: 10000, dtype: bool

In [82]:
over = len(df[cond2])
print(over)

1129

In [78]:
abs(normal - over)

1289

In [85]:
cond3 = (df['bmi'] > 18.5) & (df['bmi']<23)
cond4 = (df['bmi']>=23) & (df['bmi']<25)
print(abs(len(df[cond3])-len(df[cond4])))

1289

# 문제3------------------------------------------------------------------------------------

순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오
(순 전입학생==전입학생-전출학생)

In [86]:
import pandas as pd
df = pd.read_csv("data5-3.csv")

In [87]:
df.head()

,시도교육청,지역교육청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,제외여부,제외사유,1학년 전입학생수,...,4학년 전체학생수,5학년 전입학생수,5학년 전출학생수,5학년 전체학생수,6학년 전입학생수,6학년 전출학생수,6학년 전체 학생수,전입학생수(계),전출학생수(계),전체학생수(계)
0,서울특별시교육청,교육부,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,N,NaN,5.0,...,104.0,0.0,0.0,108.0,0.0,0.0,111.0,6.0,0.0,611.0
1,서울특별시교육청,교육부,서울특별시 종로구,S000003563,서울대학교사범대학부설초등학교,2,국립,N,NaN,4.0,...,104.0,3.0,2.0,104.0,0.0,1.0,106.0,20.0,21.0,621.0
2,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000738,서울개일초등학교,2,공립,N,NaN,13.0,...,179.0,19.0,8.0,177.0,16.0,5.0,152.0,118.0,50.0,1004.0
3,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000741,서울구룡초등학교,2,공립,N,NaN,2.0,...,129.0,18.0,4.0,129.0,13.0,3.0,119.0,90.0,27.0,733.0
4,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000742,서울논현초등학교,2,공립,N,NaN,1.0,...,48.0,2.0,10.0,53.0,0.0,0.0,47.0,6.0,29.0,290.0

In [88]:
df['순전입학생'] = df['전입학생수(계)'] - df['전출학생수(계)']

In [90]:
len(df['학교명'].unique())

5271

In [91]:
df.shape

(6309, 31)

In [93]:
grouped = df.groupby(['학교명']).sum()

In [96]:
best = grouped['순전입학생'].sort_values(ascending=False).idxmax()

In [98]:
cond3 = df['학교명'] == best

In [100]:
df[cond3]['전체학생수(계)']

1880    230.0
Name: 전체학생수(계), dtype: float64

In [ ]:
답 230