# 문제 1.-----------------------------------------------------------------------------
결측치가 있는 행을 제거한  후 학생이 가장 많이 수강한 과목을 찾고, 해당 과목 점수를 표준화(스탠더드 스케일)한 다음 가장 큰 표준화된 값을 구하시오. (반올림 소수 셋째자리)

In [1]:
import pandas as pd
df = pd.read_csv('student_assessment.csv')

In [2]:
df.head()

   id_assessment  student_id  study_period_days  score
0            103           0                 22   87.0
1             93           1                 70   92.0
2             15           2                 22    2.0
3            107           3                 22   51.0
4             72           4                 22   73.0

In [3]:
df.isna().sum()

id_assessment         0
student_id            0
study_period_days     0
score                21
dtype: int64

In [4]:
df = df.dropna()

In [5]:
df.isna().sum()

id_assessment        0
student_id           0
study_period_days    0
score                0
dtype: int64

# [?] 과목이 뭐지? 안 보인다. - id_assessment ?

In [16]:
max_id_ass = df['id_assessment'].value_counts().idxmax()

In [ ]:
#12라는 숫자가 빈도수가 제일 높아보인다.

In [17]:
max_id_ass

12

In [19]:
cond1 = df['id_assessment'] == max_id_ass

In [33]:
id_ass_12 = df[cond1]
id_ass_12

      id_assessment  student_id  study_period_days  score
80               12          85                 35   50.0
131              12         141                 70   32.0
342              12         365                 22   99.0
349              12         372                 22   49.0
368              12         394                 22   33.0
450              12         479                 35   68.0
513              12         543                 35   44.0
568              12         601                 22   21.0
926              12         981                 22   71.0
965              12        1023                 22   22.0
975              12        1033                 35   68.0
983              12        1042                 22   77.0
1141             12        1205                 35   18.0
1161             12        1225                 22   76.0
1203             12        1270                 70   12.0
1290             12        1362                 70   14.0
1291             12        1364                 22   72.0
1399             12        1477                 22   19.0
1480             12        1560                 70    4.0
1612             12        1701                 35   14.0
1642             12        1732                 35   11.0
1671             12        1764                 35   69.0
1813             12        1911                 70   10.0
1862             12        1963                 35    8.0
2051             12        2159                 70    3.0
2060             12        2170                 70   47.0
2080             12        2191                 22   34.0
2188             12        2309                 35   57.0
2225             12        2351                 70   84.0
2272             12        2399                 70   61.0
2309             12        2437                 22   39.0
2431             12        2562                 22   50.0
2548             12        2683                 22   37.0

# [?] 스탠더드 스케일.????

In [21]:
from sklearn.preprocessing import StandardScaler

In [32]:
id_ass_12.loc[:, 'score']

80      50.0
131     32.0
342     99.0
349     49.0
368     33.0
450     68.0
513     44.0
568     21.0
926     71.0
965     22.0
975     68.0
983     77.0
1141    18.0
1161    76.0
1203    12.0
1290    14.0
1291    72.0
1399    19.0
1480     4.0
1612    14.0
1642    11.0
1671    69.0
1813    10.0
1862     8.0
2051     3.0
2060    47.0
2080    34.0
2188    57.0
2225    84.0
2272    61.0
2309    39.0
2431    50.0
2548    37.0
Name: score, dtype: float64

# [?] id_ass_12.loc[:, 'score'] 을 scaler에 넣는 방법. DataFrame을 넣어야 한다.

In [34]:
scaler = StandardScaler()

In [37]:
scaled = scaler.fit_transform(id_ass_12[['score']])

In [46]:
# [?] ndarray는 sort()로 조정한다.

AttributeError: 'numpy.ndarray' object has no attribute 'sort_value'

In [48]:
import numpy as np

In [56]:
sorted_scaled = np.sort(scaled.reshape(-1))[::-1]
print(round(sorted_scaled[0], 3))

2.183

# [!] 간단한 방법

In [57]:
scaled.max()

2.183422032552496

# 문제 2.-----------------------------------------------------------------------------

DE1 ~ DE77 컬럼 중 주가지수의 종가 'close'와 가장 상관 관계가 높은 변수를 찾아,
해당 변수의 평균값을 구하시오(반올림하여 소수 넷째 자리까지 계산)

In [2]:
import pandas as pd
df = pd.read_csv('stock_market.csv')

In [3]:
df.head()

,DE1,DE2,DE3,DE4,DE5,DE6,DE7,DE8,DE9,DE10,...,DE71,DE72,DE73,DE74,DE75,DE76,DE77,open,close,volume
0,1.764052,0.400157,0.978738,2.240893,1.867558,-0.977278,0.950088,-0.151357,-0.103219,0.410599,...,0.729091,0.128983,1.139401,-1.234826,0.402342,-0.684810,-0.870797,129.549102,126.502056,981466.0
1,-0.578850,-0.311553,0.056165,-1.165150,0.900826,0.465662,-1.536244,1.488252,1.895889,1.178780,...,1.117016,-1.315907,-0.461585,-0.068242,1.713343,-0.744755,-0.826439,126.502056,128.041811,473416.0
2,-0.098453,-0.663478,1.126636,-1.079932,-1.147469,-0.437820,-0.498032,1.929532,0.949421,0.087551,...,-1.540797,0.063262,0.156507,0.232181,-0.597316,-0.237922,-1.424061,128.041811,128.957651,46597.0
3,-0.493320,-0.542861,0.416050,-1.156182,0.781198,1.494485,-2.069985,0.426259,0.676908,-0.637437,...,1.658131,-0.118164,-0.680178,0.666383,-0.460720,-1.334258,-1.346718,128.957651,122.965246,455747.0
4,0.693773,-0.159573,-0.133702,1.077744,-1.126826,-0.730678,-0.384880,0.094352,-0.042171,-0.286887,...,-0.206904,0.880179,-1.698106,0.387280,-2.255564,-1.022507,0.038631,122.965246,114.922790,242198.0

In [11]:
df.corr()['close'].sort_values()
#DE12     0.055408

DE14    -0.062400
DE10    -0.056408
DE2     -0.052457
DE22    -0.047175
DE51    -0.045320
           ...
DE62     0.052608
DE12     0.055408
DE19     0.057732
open     0.996873
close    1.000000
Name: close, Length: 80, dtype: float64

In [15]:
# [!!] 상관관계는 abs() 절대값을 사용해 구한다.
df_corr = df.corr()['close'].abs()

In [19]:
col = df_corr.loc['DE1':'DE77'].idxmax()

In [20]:
# 그 값의 평균값
round(df[col].mean(), 4)

-0.0004

# [!] 첫 시작이 DE로 시작해야 해

In [13]:
round(0.055408, 4)

0.0554

# 문제 3.-----------------------------------------------------------------------------

IQR을 이용해 이산화탄소 이상치 수를 찾으시오.
# 자료가 없어 8과의 chem을 빌림.

In [22]:
import pandas as pd
df = pd.read_csv('chem.csv')

In [23]:
df.head()

  sample   co  nmhc  etc
0    샘플1   79    54   31
1    샘플2   84    57   58
2    샘플3  109    74  113
3    샘플4   15    77   21
4    샘플5   65    77  115

In [27]:
df_co = df['co']

In [29]:
q1= df_co.quantile(0.25)
q3= df_co.quantile(0.75)
iqr = q3-q1
lower = q1 - 1.5*iqr
upper = q3 + 1.5*iqr

In [31]:
outliers = df[ (df_co<=lower) & (df_co >=upper)]
len(outliers)

0