### 문제 1

1) 총대출액은 신용대출과 담보대출의 합이다.

In [135]:
import pandas as pd
df = pd.read_csv('loan.csv')

In [24]:
df.head()

         지역코드  성별    신용대출     담보대출
0  4100000000   1  688608  5706058
1  4100000000   2  611035  2260521
2  4100000001   1  125392  5946493
3  4100000001   2  239679  4711962
4  4100000002   1  623758  5411745

2) 각 지역코드 내에서, 성별(예:1,2)별로 '총대출액'의 합계를 계산하시오

In [136]:
#먼저 총대출액을 계산한다
df['총대출액'] = df['신용대출'] + df['담보대출'] #이거 아닌듯 -> 이거 맞네
df

            지역코드  성별    신용대출     담보대출     총대출액
0     4100000000   1  688608  5706058  6394666
1     4100000000   2  611035  2260521  2871556
2     4100000001   1  125392  5946493  6071885
3     4100000001   2  239679  4711962  4951641
4     4100000002   1  623758  5411745  6035503
...          ...  ..     ...      ...      ...
4995  4100000511   1  104176  8757588  8861764
4996  4100000157   2  321815  6782991  7104806
4997  4100000309   2  519114  6318150  6837264
4998  4100000341   1  106840  4103058  4209898
4999  4100000577   1  618898  7612392  8231290

[5000 rows x 5 columns]

In [137]:
# 지역코드 내에서 합계를 나타낸다.
# 그룹 바이를 한 후에 컬럼끼리 더하는 경우는 모르겠음 -> unstack() 또는 pivot table 사용
# df.groupby(['지역코드','성별']).sum()
df.groupby(['지역코드','성별'])['총대출액'].sum().unstack()

성별                 1         2
지역코드
4100000000  22891981  18339609
4100000001  34197683  17595557
4100000002  13119017  21827691
4100000003  16549091  54654134
4100000004  26831399  56145359
...              ...       ...
4100000587   9050332  19445103
4100000588  47396699  36281031
4100000589  28256320  17797635
4100000590  16813363  23655928
4100000591  20674327  12204772

[592 rows x 2 columns]

3) 성별 간 총대출액의 차이가 가장 큰 지역 코드를 구하시오

In [138]:
#생성 후 저장
grouped

성별                 1         2
지역코드
4100000000  22891981  18339609
4100000001  34197683  17595557
4100000002  13119017  21827691
4100000003  16549091  54654134
4100000004  26831399  56145359
...              ...       ...
4100000587   9050332  19445103
4100000588  47396699  36281031
4100000589  28256320  17797635
4100000590  16813363  23655928
4100000591  20674327  12204772

[592 rows x 2 columns]

In [139]:
grouped['차이'] = abs(grouped[1]-grouped[2])

In [140]:
grouped

성별                 1         2        차이
지역코드
4100000000  22891981  18339609   4552372
4100000001  34197683  17595557  16602126
4100000002  13119017  21827691   8708674
4100000003  16549091  54654134  38105043
4100000004  26831399  56145359  29313960
...              ...       ...       ...
4100000587   9050332  19445103  10394771
4100000588  47396699  36281031  11115668
4100000589  28256320  17797635  10458685
4100000590  16813363  23655928   6842565
4100000591  20674327  12204772   8469555

[592 rows x 3 columns]

In [67]:
result = grouped['차이'].idxmax()

In [68]:
result

4100000278

#### 해답 [Tip]

In [ ]:

# 1. 행, 열 변환을 위해 stack(level=...)
# 2. 금액 차이는 abs()
# 3. idxmax() 를 쓸 경우, 각 열에서 행을 조사하여 가장 큰 값의 index 반환 
# 4. 컬럼이 숫자일 경우 접근 방식

### 문제 2

1) 검거율은 검거건수 / 발생건수이다.
2) 각 연도에서 가장 높은 검거율을 기록한 범죄유형을 찾으시오.
3) 해당 범죄유형의 검거건수를 구한 후 이 값들을 모두 합산하시오(정수로 구하시오).

In [141]:
import pandas as pd
df = pd.read_csv('crime.csv')

In [142]:
df

,연도,구분,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,선거범죄,병역범죄,기타범죄
0,2014,발생건수,800,900,750,650,700,1034,600,850,800,900,750,800,700,1000
1,2014,검거건수,500,600,400,450,400,961,350,500,450,550,400,450,400,600
2,2015,발생건수,900,768,800,750,700,1000,850,800,900,950,800,850,750,1000
3,2015,검거건수,600,713,500,550,400,600,500,450,550,600,450,500,400,600
4,2016,발생건수,850,800,880,750,700,950,900,800,850,900,750,800,700,950
5,2016,검거건수,500,600,812,550,400,600,500,450,500,550,400,450,400,600
6,2017,발생건수,1000,900,850,800,750,950,1400,900,1000,950,800,850,750,900
7,2017,검거건수,600,500,500,550,400,600,1300,500,550,600,450,500,400,500
8,2018,발생건수,1450,900,850,800,750,950,900,800,850,900,750,800,700,950
9,2018,검거건수,1350,600,500,550,400,600,500,450,500,550,400,450,400,600
10,2019,발생건수,1000,900,850,800,750,950,900,1400,1000,950,800,850,750,900
11,2019,검거건수,600,500,500,550,400,600,500,1300,550,600,450,500,400,500
12,2020,발생건수,1000,900,850,1500,750,950,900,800,850,900,750,800,700,950
13,2020,검거건수,600,500,500,1363,400,600,500,450,500,550,400,450,400,600

In [110]:
df_gumgu = df[df['구분'] == '검거건수']
#어떤식으로 컬럼을 왔다갔다하지?
test = pd.pivot_table(columns='연도', data =df_gumgu)
test

C:\Users\dothe\AppData\Local\Temp\ipykernel_24108\301608022.py:3: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  test = pd.pivot_table(columns='연도', data =df_gumgu)

연도      2014  2015  2016  2017  2018  2019  2020
강력범죄     500   600   500   600  1350   600   600
교통범죄     550   600   550   600   550   600   550
기타범죄     600   600   600   500   600   500   600
노동범죄     400   450   400   450   400   450   400
마약범죄     350   500   500  1300   500   500   500
병역범죄     400   400   400   400   400   400   400
보건범죄     500   450   450   500   450  1300   450
선거범죄     450   500   450   500   450   500   450
절도범죄     600   713   600   500   600   500   500
지능범죄     450   550   550   550   550   550  1363
특별경제범죄   961   600   600   600   600   600   600
폭력범죄     400   500   812   500   500   500   500
풍속범죄     400   400   400   400   400   400   400
환경범죄     450   550   500   550   500   550   500

In [120]:
result = 0
year_list = [2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [121]:
for year in  year_list:
    result += test[year].max()

In [122]:
result

7799

#### 해답

In [143]:
# 해답 - 발생건수와 검거건수 분리
cond1 = df['구분'] == '발생건수'
cond2 = df['구분'] == '검거건수'
df1  = df[cond1].iloc[:,2:]
df2  = df[cond2].iloc[:,2:]

In [144]:
# 해답 - 검거율 계산
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df2/df1

In [145]:
df3

,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,선거범죄,병역범죄,기타범죄
0,0.625000,0.666667,0.533333,0.692308,0.571429,0.929400,0.583333,0.588235,0.562500,0.611111,0.533333,0.562500,0.571429,0.600000
1,0.666667,0.928385,0.625000,0.733333,0.571429,0.600000,0.588235,0.562500,0.611111,0.631579,0.562500,0.588235,0.533333,0.600000
2,0.588235,0.750000,0.922727,0.733333,0.571429,0.631579,0.555556,0.562500,0.588235,0.611111,0.533333,0.562500,0.571429,0.631579
3,0.600000,0.555556,0.588235,0.687500,0.533333,0.631579,0.928571,0.555556,0.550000,0.631579,0.562500,0.588235,0.533333,0.555556
4,0.931034,0.666667,0.588235,0.687500,0.533333,0.631579,0.555556,0.562500,0.588235,0.611111,0.533333,0.562500,0.571429,0.631579
5,0.600000,0.555556,0.588235,0.687500,0.533333,0.631579,0.555556,0.928571,0.550000,0.631579,0.562500,0.588235,0.533333,0.555556
6,0.600000,0.555556,0.588235,0.908667,0.533333,0.631579,0.555556,0.562500,0.588235,0.611111,0.533333,0.562500,0.571429,0.631579

In [ ]:
listbox = df3.idxmax(axis=1)
'''
각 행(row)을 기준으로 보면서 가장 큰 값이 어느 column에 있는지 그 column 이름을 돌려줍니다.
'''
listbox

In [ ]:
# 해답
original = 0
for index, item in enumerate(listbox) :
    original += df2.loc[index, item]
    
original