# 문제 1 --------------------------------------------------------------------

'age'컬럼의 3사분위수와 1사분위수의 차이를 절댓값으로 구하고, 
소수점 이하를 버리고, 정수로 출력하시오.

In [1]:
import pandas as pd
df = pd.read_csv('data4-1.csv')

In [2]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [4]:
# 3사분위수와 1사분위수
q3 = df['age'].quantile(0.75)
q1 = df['age'].quantile(0.25)

In [5]:
#차이의 절댓값
result = abs(q3-q1)

In [6]:
print(result)

50.125

In [9]:
result = round(result)
print("답 :", result)

답 : 50

# 문제 2 --------------------------------------------------------------------

모든 reactions 중 loves와 wows를 합한 반응 비율이 40% 보다 크고 50%보다 작은 데이터를 찾고,
이 중 type 컬럼이 'video'인 데이터의 개수를 구하시오.

In [10]:
import pandas as pd
df = pd.read_csv("data4-2.csv")

In [11]:
df.head()

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0
3,4,photo,111,0,0,111,0,0,0,0,0
4,5,photo,213,0,0,204,9,0,0,0,0

In [ ]:
# 모든 리액션 (reactions), loves와  wows를 합한 리액션

In [12]:
goal  = (df['loves'] + df['wows'])/df['reactions']

In [20]:
result = ((goal > 0.4) & (goal < 0.5))

In [21]:
df[result]

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
3116,3117,video,255,926,181,142,108,0,5,0,0
4624,4625,video,1397,771,695,765,485,139,4,1,3
4776,4777,video,259,695,263,151,106,0,2,0,0
4793,4794,video,146,303,221,73,69,2,1,0,1
4812,4813,video,184,530,224,101,80,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
6308,6309,video,416,5352,580,204,194,3,13,1,1
6311,6312,video,370,6316,633,182,166,2,17,3,0
6335,6336,video,236,5237,526,138,97,1,0,0,0
6371,6372,video,239,2574,419,140,95,1,2,1,0
6701,6702,video,517,5514,388,243,220,8,43,3,0

In [24]:
cond2 = df[result]['type'] =='video'

In [25]:
cond2

3116    True
4624    True
4776    True
4793    True
4812    True
        ...
6308    True
6311    True
6335    True
6371    True
6701    True
Name: type, Length: 90, dtype: bool

In [26]:
len(df[result][cond2])

90

# 문제 3 --------------------------------------------------------------------

'date_added' 컬럼의 날짜가 2018년 1월이면서 'country'에서 United Kingdom 단독 제작인 데이터의 개수를 구하시오.

In [28]:
import pandas as pd
df = pd.read_csv('data4-3.csv')

In [29]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [34]:
df['date_to_date'] = pd.to_datetime(df['date_added'])

In [36]:
df['date_to_date'] = df['date_to_date'].dt.to_period('M')

In [40]:
cond31 = df['date_to_date'] == '2018-01'

In [42]:
df[cond31]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,date_to_date
5055,s5056,Movie,Expedition Happiness,Selima Taibi,"Selima Taibi, Felix Starck",Germany,"January 31, 2018",2017,TV-PG,96 min,"Documentaries, International Movies",2018-01
5056,s5057,Movie,Jerry Seinfeld: I'm Telling You for the Last Time,Marty Callner,Jerry Seinfeld,United States,"January 30, 2018",1998,TV-14,69 min,Stand-Up Comedy,2018-01
5057,s5058,TV Show,Retribution,NaN,"Georgina Campbell, Joe Dempsie, Adrian Edmonds...",United Kingdom,"January 30, 2018",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",2018-01
5058,s5059,Movie,Holy Camp!,"Javier Ambrossi, Javier Calvo","Macarena García, Anna Castillo, Belén Cuesta, ...",Spain,"January 29, 2018",2017,TV-MA,108 min,"Comedies, Dramas, Faith & Spirituality",2018-01
5059,s5060,Movie,A Futile and Stupid Gesture,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,"January 26, 2018",2018,TV-MA,102 min,Comedies,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8591,s8592,Movie,Time Please,Sameer Vidwans,"Priya Bapat, Siddarth Jadhav, Umesh Kamat, Sai...",India,"January 1, 2018",2013,TV-14,125 min,"Comedies, Dramas, International Movies",2018-01
8619,s8620,Movie,Treasures from the Wreck of the Unbelievable,Sam Hobkinson,NaN,United Kingdom,"January 1, 2018",2017,TV-G,82 min,"Documentaries, Dramas, International Movies",2018-01
8665,s8666,Movie,Urvi,Pradeep Verma,"Sruthi Hariharan, Shraddha Srinath, Shweta Pan...",India,"January 15, 2018",2017,TV-MA,121 min,"Dramas, Independent Movies, International Movies",2018-01
8730,s8731,Movie,Where's the Money,Scott Zabielski,"Andrew Bachelor, Kat Graham, Mike Epps, Terry ...",United States,"January 22, 2018",2017,R,86 min,Comedies,2018-01
8773,s8774,Movie,Yanda Kartavya Aahe,Kedar Shinde,"Ankush Choudhary, Smita Shewale, Mohan Joshi, ...",India,"January 1, 2018",2006,TV-PG,151 min,"Comedies, Dramas, International Movies",2018-01

In [43]:
cond32 = df['country'] == 'United Kingdom'

In [45]:
len(df[cond31&cond32])

6