### 농작물에서 농약 검출 여부를 예측하시오

- 제공된 목록 : farm_train.csv, farm_test.csv
- 예측할 컬럼 : 농약검출여부(0:미검출, 1:검출, 2:재검사필요)

제출한 모델의 성능은 macro F1 Score로 평가

In [53]:
import pandas as pd
train = pd.read_csv('farm_train.csv')
test = pd.read_csv('farm_test.csv')

In [54]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   농업면적    4000 non-null   float64
 1   연도      4000 non-null   int64
 2   지역      4000 non-null   object
 3   비료사용량   4000 non-null   float64
 4   비료잔여량   4000 non-null   float64
 5   작물종류    4000 non-null   object
 6   토양유형    4000 non-null   object
 7   농약검출여부  4000 non-null   int64
 8   등급      4000 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 281.4+ KB

In [55]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   농업면적    1000 non-null   float64
 1   연도      1000 non-null   int64
 2   지역      1000 non-null   object
 3   비료사용량   1000 non-null   float64
 4   비료잔여량   1000 non-null   float64
 5   작물종류    1000 non-null   object
 6   토양유형    1000 non-null   object
 7   등급      1000 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 62.6+ KB

#### 개인문제풀이---------------------------------------------------------------

In [56]:
from sklearn.model_selection import train_test_split

In [104]:
train_copy = train
test_copy = test

In [105]:
train_copy.isna().sum()

농업면적      0
연도        0
지역        0
비료사용량     0
비료잔여량     0
작물종류      0
토양유형      0
농약검출여부    0
등급        0
dtype: int64

In [106]:
test_copy.isna().sum()

농업면적     0
연도       0
지역       0
비료사용량    0
비료잔여량    0
작물종류     0
토양유형     0
등급       0
dtype: int64

In [107]:
train_copy.head()

           농업면적    연도  지역       비료사용량        비료잔여량 작물종류 토양유형  농약검출여부 등급
0  20079.652837  2004  대구  407.985516   146.290507   보리   점토       2  C
1  73858.643204  2012  울산  221.229692  1967.333638    밀   점토       0  B
2  65718.150861  2012  강원  370.967205  2253.522610    쌀   점토       0  B
3  37366.182902  2005  광주  274.128236  1487.535265    쌀   양토       0  B
4  81515.151289  2007  충남  213.410655   683.306745    쌀   양토       1  B

In [108]:
train_copy.loc[:,'등급']

0       C
1       B
2       B
3       B
4       B
       ..
3995    C
3996    A
3997    A
3998    B
3999    C
Name: 등급, Length: 4000, dtype: object

In [109]:
concat_copy = pd.concat([train_copy, test_copy])

In [110]:
concat_copy

             농업면적    연도  지역       비료사용량         비료잔여량 작물종류 토양유형  농약검출여부 등급
0    20079.652837  2004  대구  407.985516    146.290507   보리   점토     2.0  C
1    73858.643204  2012  울산  221.229692   1967.333638    밀   점토     0.0  B
2    65718.150861  2012  강원  370.967205   2253.522610    쌀   점토     0.0  B
3    37366.182902  2005  광주  274.128236   1487.535265    쌀   양토     0.0  B
4    81515.151289  2007  충남  213.410655    683.306745    쌀   양토     1.0  B
..            ...   ...  ..         ...           ...  ...  ...     ... ..
995  97391.943065  2019  경기  235.737496    187.648314    쌀   점토     NaN  C
996  45914.535781  2015  세종  330.264101    136.146895    쌀   모래     NaN  C
997  11116.966854  2022  대전  311.614389      9.165499   보리   양토     NaN  C
998  51511.091047  2002  충남  302.713729   1064.587497    밀   점토     NaN  B
999  42508.529809  2018  서울  236.351129  10560.654573    밀   모래     NaN  A

[5000 rows x 9 columns]

In [111]:
#라벨 인코딩 # 다시 학습 필요
from sklearn.preprocessing  import LabelEncoder

o_list = ['지역', '작물종류', '토양유형', '등급']

for col in o_list : 
    le = LabelEncoder()
    concat_copy[col] = le.fit_transform(concat_copy[col])

In [112]:
train_copy = concat_copy[:1000:]

In [113]:
concat_copy.shape

(5000, 9)

In [114]:
train_copy = concat_copy.iloc[:4000,:]

In [115]:
train_copy.shape

(4000, 9)

In [116]:
test_copy = concat_copy.iloc[4000:, :]

In [117]:
test_copy.shape

(1000, 9)

In [118]:
y = train_copy.pop('농약검출여부')

In [119]:
x = train_copy

In [120]:
x.shape, y.shape

((4000, 8), (4000,))

In [121]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [96]:
from sklearn.ensemble import RandomForestClassifier

In [97]:
rf =  RandomForestClassifier()

In [127]:
model = rf.fit(X_train, y_train)

In [128]:
pred = model.predict(X_test)

In [131]:
from sklearn.metrics import f1_score

In [133]:
###???
result = f1_score(y_test, pred, average='macro')

In [139]:
result

0.8682546534404331

In [140]:
test_copy

             농업면적    연도  지역       비료사용량         비료잔여량  작물종류  토양유형  농약검출여부  등급
0    43284.730127  2008   8  138.767165    415.437269     1     2     NaN   1
1    97624.943779  2014  14  373.560368   2809.120053     1     1     NaN   0
2    47115.257674  2023   4  249.082661   1586.452521     2     2     NaN   1
3    82817.237255  2012  14  242.284660    142.494412     2     2     NaN   2
4    73866.403857  2012   2  166.180358   4365.543337     0     2     NaN   0
..            ...   ...  ..         ...           ...   ...   ...     ...  ..
995  97391.943065  2019   1  235.737496    187.648314     2     2     NaN   2
996  45914.535781  2015   7  330.264101    136.146895     2     0     NaN   2
997  11116.966854  2022   4  311.614389      9.165499     1     1     NaN   2
998  51511.091047  2002  13  302.713729   1064.587497     0     2     NaN   1
999  42508.529809  2018   6  236.351129  10560.654573     0     0     NaN   0

[1000 rows x 9 columns]

In [143]:
test = test_copy.drop('농약검출여부', axis=1)

In [144]:
result_pred = model.predict(test)

In [145]:
result_pred

array([2., 0., 0., 2., 0., 2., 2., 2., 2., 0., 2., 1., 0., 0., 2., 0., 0.,
       2., 0., 2., 2., 0., 2., 2., 0., 0., 2., 2., 2., 0., 2., 0., 2., 0.,
       0., 2., 2., 2., 2., 2., 2., 2., 2., 0., 0., 0., 0., 0., 1., 2., 1.,
       2., 2., 0., 2., 0., 0., 0., 0., 0., 2., 0., 2., 0., 0., 2., 2., 0.,
       0., 2., 2., 0., 0., 2., 0., 0., 2., 0., 2., 2., 0., 0., 0., 0., 0.,
       2., 1., 2., 2., 2., 0., 0., 2., 0., 2., 2., 2., 2., 2., 0., 0., 2.,
       2., 2., 0., 0., 0., 2., 0., 0., 0., 0., 2., 2., 2., 2., 0., 0., 0.,
       2., 0., 1., 2., 0., 0., 0., 0., 2., 2., 0., 0., 2., 0., 2., 0., 0.,
       2., 2., 2., 0., 0., 0., 2., 2., 0., 2., 0., 0., 0., 0., 2., 1., 2.,
       0., 0., 0., 2., 2., 2., 0., 0., 0., 0., 0., 2., 0., 0., 0., 0., 0.,
       0., 0., 0., 2., 2., 0., 2., 2., 2., 2., 0., 2., 2., 0., 0., 2., 0.,
       2., 0., 0., 2., 2., 2., 2., 1., 2., 2., 2., 2., 2., 0., 0., 2., 0.,
       0., 2., 0., 2., 2., 0., 2., 2., 2., 0., 2., 0., 2., 0., 2., 0., 2.,
       2., 2., 2., 0., 0., 2., 2., 2., 0., 2., 0., 2., 0., 2., 0., 0., 2.,
       2., 2., 2., 0., 2., 2., 2., 2., 0., 0., 2., 0., 0., 0., 0., 0., 2.,
       0., 0., 0., 2., 0., 2., 2., 2., 0., 2., 0., 0., 1., 0., 0., 2., 2.,
       0., 1., 2., 2., 0., 2., 0., 2., 2., 0., 2., 0., 2., 2., 0., 2., 2.,
       2., 2., 2., 2., 0., 0., 2., 2., 2., 0., 2., 2., 2., 2., 2., 0., 2.,
       1., 0., 2., 2., 2., 2., 2., 2., 0., 2., 2., 2., 2., 2., 0., 2., 2.,
       0., 2., 0., 0., 0., 0., 0., 0., 0., 2., 2., 0., 2., 2., 0., 0., 2.,
       2., 1., 2., 2., 2., 0., 0., 0., 2., 2., 0., 0., 2., 2., 2., 0., 0.,
       2., 0., 0., 2., 2., 2., 0., 0., 2., 1., 2., 0., 2., 0., 0., 0., 0.,
       0., 0., 2., 2., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 2., 0.,
       2., 2., 0., 0., 0., 2., 2., 2., 0., 2., 2., 0., 2., 2., 0., 2., 2.,
       2., 1., 0., 2., 0., 2., 0., 2., 0., 2., 1., 2., 0., 2., 2., 0., 1.,
       0., 0., 0., 2., 0., 0., 2., 2., 0., 0., 0., 2., 0., 1., 0., 1., 2.,
       2., 0., 2., 1., 2., 2., 0., 2., 0., 0., 0., 0., 2., 0., 2., 2., 0.,
       2., 2., 0., 2., 0., 2., 2., 0., 2., 0., 2., 2., 2., 2., 0., 2., 2.,
       0., 2., 2., 2., 2., 2., 2., 1., 2., 1., 2., 0., 0., 2., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 2., 2., 0., 0., 0., 2., 0.,
       2., 0., 0., 1., 2., 0., 2., 2., 0., 2., 2., 2., 1., 2., 2., 0., 2.,
       2., 2., 0., 2., 2., 2., 2., 2., 2., 2., 0., 0., 0., 2., 0., 2., 2.,
       0., 1., 2., 2., 2., 0., 0., 0., 0., 0., 1., 0., 0., 2., 1., 0., 1.,
       2., 2., 0., 2., 1., 2., 0., 2., 0., 2., 2., 2., 0., 0., 0., 2., 0.,
       0., 2., 0., 0., 2., 2., 0., 0., 2., 2., 2., 2., 2., 2., 1., 2., 2.,
       0., 2., 2., 0., 1., 2., 0., 1., 2., 2., 0., 0., 0., 0., 2., 2., 0.,
       2., 1., 2., 0., 2., 2., 0., 2., 0., 0., 2., 1., 0., 0., 2., 2., 2.,
       0., 2., 0., 2., 2., 0., 2., 2., 2., 2., 2., 2., 2., 0., 2., 0., 2.,
       0., 2., 0., 2., 0., 2., 0., 0., 2., 2., 0., 2., 2., 2., 0., 0., 2.,
       0., 0., 2., 0., 0., 0., 0., 0., 2., 0., 2., 2., 0., 0., 1., 0., 0.,
       2., 0., 0., 2., 2., 0., 0., 0., 2., 0., 2., 2., 0., 2., 0., 0., 2.,
       2., 0., 2., 0., 2., 1., 2., 2., 2., 0., 0., 2., 0., 0., 0., 0., 2.,
       0., 0., 0., 2., 2., 1., 0., 2., 2., 2., 0., 2., 0., 0., 0., 2., 2.,
       0., 2., 2., 0., 2., 0., 2., 0., 0., 2., 1., 2., 2., 2., 1., 2., 2.,
       2., 1., 0., 2., 0., 2., 2., 1., 2., 2., 2., 0., 0., 1., 2., 2., 2.,
       0., 0., 0., 1., 1., 0., 0., 0., 2., 2., 2., 0., 0., 2., 0., 2., 2.,
       2., 0., 2., 2., 2., 0., 2., 2., 2., 2., 0., 0., 2., 2., 2., 2., 2.,
       2., 0., 2., 0., 2., 2., 2., 0., 2., 2., 2., 0., 0., 2., 0., 0., 2.,
       0., 0., 2., 0., 2., 2., 2., 2., 1., 2., 2., 0., 0., 0., 0., 2., 2.,
       2., 0., 0., 2., 0., 1., 0., 0., 0., 0., 2., 0., 0., 0., 2., 0., 0.,
       2., 2., 0., 2., 2., 2., 2., 2., 0., 0., 2., 2., 0., 2., 2., 2., 2.,
       0., 2., 2., 0., 0., 2., 0., 0., 0., 0., 1., 0., 2., 0., 2., 2., 0.,
       0., 2., 2., 2., 0., 0., 2., 2., 1., 2., 2., 2., 0., 2., 2., 0., 0.,
       0., 2., 0., 0., 0., 0., 2., 2., 2., 2., 2., 2., 0., 2., 0., 0., 2.,
       0., 0., 2., 1., 0., 2., 2., 2., 0., 2., 0., 2., 0., 0., 0., 2., 2.,
       0., 0., 2., 0., 0., 2., 0., 0., 0., 2., 2., 0., 2., 0., 2., 0., 0.,
       0., 2., 0., 2., 2., 0., 2., 2., 2., 1., 2., 2., 2., 0., 0., 0., 2.,
       2., 2., 0., 2., 0., 2., 0., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       2., 2., 0., 2., 0., 0., 2., 2., 0., 2., 2., 2., 2., 0.])

In [146]:
pd.DataFrame({'pred':result_pred}).to_csv("result.csv", index=False)

#### 개인문제풀이---------------------------------------------------------------