### 문제 1 -------------------------------------------------------------------------------------

#### 1) 총대출액은 신용대출과 담보대출의 합이다.

In [135]:
import pandas as pd
df = pd.read_csv('loan.csv')

In [24]:
df.head()

         지역코드  성별    신용대출     담보대출
0  4100000000   1  688608  5706058
1  4100000000   2  611035  2260521
2  4100000001   1  125392  5946493
3  4100000001   2  239679  4711962
4  4100000002   1  623758  5411745

#### 2) 각 지역코드 내에서, 성별(예:1,2)별로 '총대출액'의 합계를 계산하시오

In [136]:
#먼저 총대출액을 계산한다
df['총대출액'] = df['신용대출'] + df['담보대출'] #이거 아닌듯 -> 이거 맞네
df

            지역코드  성별    신용대출     담보대출     총대출액
0     4100000000   1  688608  5706058  6394666
1     4100000000   2  611035  2260521  2871556
2     4100000001   1  125392  5946493  6071885
3     4100000001   2  239679  4711962  4951641
4     4100000002   1  623758  5411745  6035503
...          ...  ..     ...      ...      ...
4995  4100000511   1  104176  8757588  8861764
4996  4100000157   2  321815  6782991  7104806
4997  4100000309   2  519114  6318150  6837264
4998  4100000341   1  106840  4103058  4209898
4999  4100000577   1  618898  7612392  8231290

[5000 rows x 5 columns]

In [137]:
# 지역코드 내에서 합계를 나타낸다.
# 그룹 바이를 한 후에 컬럼끼리 더하는 경우는 모르겠음 -> unstack() 또는 pivot table 사용
# df.groupby(['지역코드','성별']).sum()
df.groupby(['지역코드','성별'])['총대출액'].sum().unstack()

성별                 1         2
지역코드
4100000000  22891981  18339609
4100000001  34197683  17595557
4100000002  13119017  21827691
4100000003  16549091  54654134
4100000004  26831399  56145359
...              ...       ...
4100000587   9050332  19445103
4100000588  47396699  36281031
4100000589  28256320  17797635
4100000590  16813363  23655928
4100000591  20674327  12204772

[592 rows x 2 columns]

#### 3) 성별 간 총대출액의 차이가 가장 큰 지역 코드를 구하시오

In [138]:
#생성 후 저장
grouped

성별                 1         2
지역코드
4100000000  22891981  18339609
4100000001  34197683  17595557
4100000002  13119017  21827691
4100000003  16549091  54654134
4100000004  26831399  56145359
...              ...       ...
4100000587   9050332  19445103
4100000588  47396699  36281031
4100000589  28256320  17797635
4100000590  16813363  23655928
4100000591  20674327  12204772

[592 rows x 2 columns]

In [139]:
grouped['차이'] = abs(grouped[1]-grouped[2])

In [140]:
grouped

성별                 1         2        차이
지역코드
4100000000  22891981  18339609   4552372
4100000001  34197683  17595557  16602126
4100000002  13119017  21827691   8708674
4100000003  16549091  54654134  38105043
4100000004  26831399  56145359  29313960
...              ...       ...       ...
4100000587   9050332  19445103  10394771
4100000588  47396699  36281031  11115668
4100000589  28256320  17797635  10458685
4100000590  16813363  23655928   6842565
4100000591  20674327  12204772   8469555

[592 rows x 3 columns]

In [67]:
result = grouped['차이'].idxmax()

In [68]:
result

4100000278

#### 해답 [Tip]

In [ ]:

# 1. 행, 열 변환을 위해 stack(level=...)
# 2. 금액 차이는 abs()
# 3. idxmax() 를 쓸 경우, 각 열에서 행을 조사하여 가장 큰 값의 index 반환 
# 4. 컬럼이 숫자일 경우 접근 방식

### 문제 2 -------------------------------------------------------------------------------------

1) 검거율은 검거건수 / 발생건수이다.
2) 각 연도에서 가장 높은 검거율을 기록한 범죄유형을 찾으시오.
3) 해당 범죄유형의 검거건수를 구한 후 이 값들을 모두 합산하시오(정수로 구하시오).

In [141]:
import pandas as pd
df = pd.read_csv('crime.csv')

In [142]:
df

,연도,구분,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,선거범죄,병역범죄,기타범죄
0,2014,발생건수,800,900,750,650,700,1034,600,850,800,900,750,800,700,1000
1,2014,검거건수,500,600,400,450,400,961,350,500,450,550,400,450,400,600
2,2015,발생건수,900,768,800,750,700,1000,850,800,900,950,800,850,750,1000
3,2015,검거건수,600,713,500,550,400,600,500,450,550,600,450,500,400,600
4,2016,발생건수,850,800,880,750,700,950,900,800,850,900,750,800,700,950
5,2016,검거건수,500,600,812,550,400,600,500,450,500,550,400,450,400,600
6,2017,발생건수,1000,900,850,800,750,950,1400,900,1000,950,800,850,750,900
7,2017,검거건수,600,500,500,550,400,600,1300,500,550,600,450,500,400,500
8,2018,발생건수,1450,900,850,800,750,950,900,800,850,900,750,800,700,950
9,2018,검거건수,1350,600,500,550,400,600,500,450,500,550,400,450,400,600
10,2019,발생건수,1000,900,850,800,750,950,900,1400,1000,950,800,850,750,900
11,2019,검거건수,600,500,500,550,400,600,500,1300,550,600,450,500,400,500
12,2020,발생건수,1000,900,850,1500,750,950,900,800,850,900,750,800,700,950
13,2020,검거건수,600,500,500,1363,400,600,500,450,500,550,400,450,400,600

In [110]:
df_gumgu = df[df['구분'] == '검거건수']
#어떤식으로 컬럼을 왔다갔다하지?
test = pd.pivot_table(columns='연도', data =df_gumgu)
test

C:\Users\dothe\AppData\Local\Temp\ipykernel_24108\301608022.py:3: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  test = pd.pivot_table(columns='연도', data =df_gumgu)

연도      2014  2015  2016  2017  2018  2019  2020
강력범죄     500   600   500   600  1350   600   600
교통범죄     550   600   550   600   550   600   550
기타범죄     600   600   600   500   600   500   600
노동범죄     400   450   400   450   400   450   400
마약범죄     350   500   500  1300   500   500   500
병역범죄     400   400   400   400   400   400   400
보건범죄     500   450   450   500   450  1300   450
선거범죄     450   500   450   500   450   500   450
절도범죄     600   713   600   500   600   500   500
지능범죄     450   550   550   550   550   550  1363
특별경제범죄   961   600   600   600   600   600   600
폭력범죄     400   500   812   500   500   500   500
풍속범죄     400   400   400   400   400   400   400
환경범죄     450   550   500   550   500   550   500

In [120]:
result = 0
year_list = [2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [121]:
for year in  year_list:
    result += test[year].max()

In [122]:
result

7799

#### 해답

In [143]:
# 해답 - 발생건수와 검거건수 분리
cond1 = df['구분'] == '발생건수'
cond2 = df['구분'] == '검거건수'
df1  = df[cond1].iloc[:,2:]
df2  = df[cond2].iloc[:,2:]

In [144]:
# 해답 - 검거율 계산
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df2/df1

In [145]:
df3

,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,선거범죄,병역범죄,기타범죄
0,0.625000,0.666667,0.533333,0.692308,0.571429,0.929400,0.583333,0.588235,0.562500,0.611111,0.533333,0.562500,0.571429,0.600000
1,0.666667,0.928385,0.625000,0.733333,0.571429,0.600000,0.588235,0.562500,0.611111,0.631579,0.562500,0.588235,0.533333,0.600000
2,0.588235,0.750000,0.922727,0.733333,0.571429,0.631579,0.555556,0.562500,0.588235,0.611111,0.533333,0.562500,0.571429,0.631579
3,0.600000,0.555556,0.588235,0.687500,0.533333,0.631579,0.928571,0.555556,0.550000,0.631579,0.562500,0.588235,0.533333,0.555556
4,0.931034,0.666667,0.588235,0.687500,0.533333,0.631579,0.555556,0.562500,0.588235,0.611111,0.533333,0.562500,0.571429,0.631579
5,0.600000,0.555556,0.588235,0.687500,0.533333,0.631579,0.555556,0.928571,0.550000,0.631579,0.562500,0.588235,0.533333,0.555556
6,0.600000,0.555556,0.588235,0.908667,0.533333,0.631579,0.555556,0.562500,0.588235,0.611111,0.533333,0.562500,0.571429,0.631579

In [ ]:
listbox = df3.idxmax(axis=1)
'''
각 행(row)을 기준으로 보면서 가장 큰 값이 어느 column에 있는지 그 column 이름을 돌려줍니다.
'''
listbox

In [ ]:
# 해답
original = 0
for index, item in enumerate(listbox) :
    original += df2.loc[index, item]
    
original

### 문제 3 -------------------------------------------------------------------------------------

#### [개인 질문]  
- 단일 열시리즈에서 null의 개수를 구할 수 있나?
- 시리즈의 값들을 변경할 수 있나? 정수 처리 등.

In [184]:
import pandas as pd

df = pd.read_csv('hr.csv')

In [185]:
df

      사원번호         부서 성과등급         연봉  근속연수  교육참가횟수  만족도
0    E0001  Marketing    B   73200000  14.0       5  6.0
1    E0002         IR    A   95100000   3.0       4  9.0
2    E0003    Manager    B   44700000   5.0       2  8.0
3    E0004         IR    B  122100000  16.0       3  8.0
4    E0005         IR    C   66000000   NaN       4  8.0
..     ...        ...  ...        ...   ...     ...  ...
995  E0996    Finance    B   90400000  15.0       3  2.0
996  E0997         IR    C  147600000  12.0       5  5.0
997  E0998      Sales    C   95600000   4.0       4  9.0
998  E0999      Sales    C   94400000   8.0       6  1.0
999  E1000         IR    A   92400000   9.0       2  5.0

[1000 rows x 7 columns]

In [186]:
df['만족도'].isna().sum()

120

#### 1) 만족도의 결측치는 만족도의 평균값으로 대체한다

In [160]:
man_mean = df['만족도'].mean()

In [161]:
man_mean

5.017045454545454

In [162]:
df['만족도'].fillna(man_mean, inplace=True)

In [163]:
df.isna().sum()

사원번호       0
부서         0
성과등급       0
연봉         0
근속연수      48
교육참가횟수     0
만족도        0
dtype: int64

#### 2) 근속 연수의 결측치는, 같은 부서 내에서 동일한 성과등급을 가진 직원들의 평균 근속연수로 대체한다. 이때 평균 근속연수는 소수점 이하를 절사하여 정수로 변환하여 사용한다.

#해답---------------------------------------------------------------------------

In [168]:
gm = df.groupby(['부서', '성과등급'])['근속연수'].transform("mean")

In [170]:
gm = gm.astype(int)

In [171]:
df['근속연수'] = df['근속연수'].fillna(gm)

#해답---------------------------------------------------------------------------

In [123]:
# 평균 근속연수 찾기
grouped = df.groupby(['부서', '성과등급']).mean(numeric_only=True)

In [124]:
# 그룹 바이의 결과를 어떻게 대체하지? 
grouped['평균근속연수'] = grouped['근속연수'].astype(int)

In [125]:
grouped.loc[('Finance', 'A')]['평균근속연수']

11.0

In [126]:
# groupe된 두 인덱스에 접근하기 위해서는? ㅠㅠ
부서 = grouped.index.get_level_values('부서').unique()
성과등급 = grouped.index.get_level_values('성과등급').unique()

In [130]:
for i in list(부서) :
    for j in list(성과등급) :
        df_copy = df[ (df['부서']==i)&(df['성과등급']==j)].fillna(int(grouped.loc[(i, j)]['평균근속연수']))

In [131]:
df_copy

      사원번호     부서 성과등급         연봉  근속연수  교육참가횟수  만족도
21   E0022  Sales    C   41900000  17.0       5  3.0
28   E0029  Sales    C  121700000  13.0       4  2.0
93   E0094  Sales    C   67300000   6.0       5  8.0
98   E0099  Sales    C  143200000  11.0       6  2.0
102  E0103  Sales    C   78700000   4.0       4  8.0
..     ...    ...  ...        ...   ...     ...  ...
929  E0930  Sales    C   40000000  11.0       6  8.0
962  E0963  Sales    C   62400000  10.0       3  9.0
972  E0973  Sales    C  135000000  12.0       2  3.0
997  E0998  Sales    C   95600000   4.0       4  9.0
998  E0999  Sales    C   94400000   8.0       6  1.0

[67 rows x 7 columns]

In [132]:
df

      사원번호         부서 성과등급         연봉  근속연수  교육참가횟수  만족도
0    E0001  Marketing    B   73200000  14.0       5  6.0
1    E0002         IR    A   95100000   3.0       4  9.0
2    E0003    Manager    B   44700000   5.0       2  8.0
3    E0004         IR    B  122100000  16.0       3  8.0
4    E0005         IR    C   66000000   NaN       4  8.0
..     ...        ...  ...        ...   ...     ...  ...
995  E0996    Finance    B   90400000  15.0       3  2.0
996  E0997         IR    C  147600000  12.0       5  5.0
997  E0998      Sales    C   95600000   4.0       4  9.0
998  E0999      Sales    C   94400000   8.0       6  1.0
999  E1000         IR    A   92400000   9.0       2  5.0

[1000 rows x 7 columns]

#### 3) 각 직원의 '연봉/근속연수' 값을 계산하여, 그 값이 세 번째로 큰 직원의 근속 연수를 구하시오

In [172]:
df_copy['연봉/근속연수'] = (df_copy['연봉']/df_copy['근속연수'])

In [176]:
df_year = df_copy.nlargest(3, '연봉/근속연수')
A = df_year.iloc[-1]['근속연수']

In [148]:
df_copy.sort_values(by='연봉/근속연수', ascending=False)
# 세 번째로 큰 직원의 근속 연수는 -> 3

      사원번호     부서 성과등급         연봉  근속연수  교육참가횟수       만족도    연봉/근속연수
145  E0146  Sales    C  144800000   1.0       5  5.000000  144800000
749  E0750  Sales    C   74900000   1.0       6  9.000000   74900000
216  E0217  Sales    C  148000000   3.0       3  9.000000   49333333
179  E0180  Sales    C  143800000   3.0       5  9.000000   47933333
416  E0417  Sales    C  121800000   3.0       1  5.017045   40600000
..     ...    ...  ...        ...   ...     ...       ...        ...
350  E0351  Sales    C   74200000  20.0       4  1.000000    3710000
536  E0537  Sales    C   62600000  17.0       6  8.000000    3682353
929  E0930  Sales    C   40000000  11.0       6  8.000000    3636364
21   E0022  Sales    C   41900000  17.0       5  3.000000    2464706
641  E0642  Sales    C   41400000  17.0       5  4.000000    2435294

[67 rows x 8 columns]

#### 4) 각 직원의 '연봉/만족도' 값을 계산하여, 그 값이 두 번째로 큰 직원의 교육 참가 횟수를 구하시오

In [174]:
df_copy['연봉/만족도'] = (df_copy['연봉']/df_copy['만족도'])

In [180]:
df_like = df_copy.nlargest(2, '연봉/만족도')
B = df_like.iloc[-1]['교육참가횟수']

In [150]:
df_copy.sort_values(by='연봉/만족도', ascending=False)
# 두 번째로 큰 직원의 교육참가횟수 -> 5

      사원번호     부서 성과등급         연봉  근속연수  교육참가횟수  만족도   연봉/근속연수     연봉/만족도
303  E0304  Sales    C  105100000   6.0       6  1.0  17516667  105100000
177  E0178  Sales    C  100600000  17.0       5  1.0   5917647  100600000
473  E0474  Sales    C   97300000  11.0       2  1.0   8845455   97300000
998  E0999  Sales    C   94400000   8.0       6  1.0  11800000   94400000
350  E0351  Sales    C   74200000  20.0       4  1.0   3710000   74200000
..     ...    ...  ...        ...   ...     ...  ...       ...        ...
774  E0775  Sales    C   57800000  11.0       3  8.0   5254545    7225000
859  E0860  Sales    C   41600000   6.0       4  6.0   6933333    6933333
962  E0963  Sales    C   62400000  10.0       3  9.0   6240000    6933333
200  E0201  Sales    C   40600000   5.0       1  6.0   8120000    6766667
929  E0930  Sales    C   40000000  11.0       6  8.0   3636364    5000000

[67 rows x 9 columns]

In [181]:
#### 5) 3,4 값을 더한 결과를 구하시오
result= A+B

In [182]:
result

8.0