# 테이블 조작 함수

# Row 선택 / 필터링
- loc, iloc
- boolean indexing
- query()
- isin(), between()

# Column 선택/생성/변환
- 선택 : [ ]. .filter(), select_dtypes()
- 생성 : assign()
- 변환 : .str, .dt, .astype, .apply

# Grouping & Aggregation
- groupby()
- agg(), transform()
- pivot_table()

#  Reshaping (형태 변환)
- melt
- pivot
- pivot_table
- stack/unstack
- wide_to_long

# Join/Merge (테이블 합치기)
- merge
- join
- concat

In [2]:
import pandas as pd
df = pd.read_csv('loan.csv')
df

            지역코드  성별    신용대출     담보대출
0     4100000000   1  688608  5706058
1     4100000000   2  611035  2260521
2     4100000001   1  125392  5946493
3     4100000001   2  239679  4711962
4     4100000002   1  623758  5411745
...          ...  ..     ...      ...
4995  4100000511   1  104176  8757588
4996  4100000157   2  321815  6782991
4997  4100000309   2  519114  6318150
4998  4100000341   1  106840  4103058
4999  4100000577   1  618898  7612392

[5000 rows x 4 columns]

In [5]:
df.groupby('지역코드')['신용대출'].agg(['mean', 'max'])

                     mean     max
지역코드
4100000000  656429.000000  952564
4100000001  375726.750000  710808
4100000002  469327.333333  623758
4100000003  538217.272727  973173
4100000004  536904.076923  976344
...                   ...     ...
4100000587  513412.200000  825924
4100000588  469754.000000  996233
4100000589  493839.777778  899873
4100000590  478804.142857  923688
4100000591  572621.333333  765045

[592 rows x 2 columns]

In [11]:
df.groupby('지역코드')['신용대출'].transform(lambda x: '출력')

0       출력
1       출력
2       출력
3       출력
4       출력
        ..
4995    출력
4996    출력
4997    출력
4998    출력
4999    출력
Name: 신용대출, Length: 5000, dtype: object

In [16]:
df['지역코드'].isin([4100000000]).value_counts()

False    4994
True        6
Name: 지역코드, dtype: int64

In [18]:
df['지역코드'].between(4100000000, 4100000001, inclusive="right")

0       False
1       False
2        True
3        True
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: 지역코드, Length: 5000, dtype: bool