# 문제 1 -----------------------------------------------------------

##### 문제 1-1) 
1) 총 대출액은 신용대출과 담보대출의 합이다.
2) 각 지역코드 내에서, 성별별로 '총대출액'의 합계를 계산하시오.
3) 성별 간 총대출액의 차이가 가장 큰 지역코드를 구하시오.

In [2]:
import pandas as pd
df = pd.read_csv('loan.csv')

In [3]:
df.head()

         지역코드  성별    신용대출     담보대출
0  4100000000   1  688608  5706058
1  4100000000   2  611035  2260521
2  4100000001   1  125392  5946493
3  4100000001   2  239679  4711962
4  4100000002   1  623758  5411745

In [4]:
df['총대출액'] = df['신용대출'] +  df['담보대출']

In [7]:
# 지역코드 내 # 성별별로 총 대출액 합계
grouped = df.groupby(['지역코드', '성별'])['총대출액'].sum()

In [22]:
#성별 간 총 대출액의 차이 구하기
unstack_grouped = grouped.unstack(level=-1)
unstack_grouped['성별간차이'] = abs(unstack_grouped[1]-unstack_grouped[2])
result = unstack_grouped.sort_values(by='성별간차이', ascending=False).index[0]

In [23]:
print(result)

4100000278

# 문제 2 -----------------------------------------------------------
난이도

In [2]:
import pandas as pd
df = pd.read_csv("crime.csv")

In [26]:
#-------------------------------------------------------------------
# 풀이 1
df_long = pd.melt(df, id_vars = ["연도", "구분"], var_name='범죄유형', value_name='건수')
df_long

df_pivot = df_long.pivot_table(index=['연도', '범죄유형'], columns='구분', values='건수').reset_index()
df_pivot

#검거율 계산
df_pivot['검거율'] = df_pivot['검거건수']/df_pivot['발생건수']

#각 연도별로 검거율이 가장 높은 범죄 유형 찾기
listbox = df_pivot.groupby('연도')['검거율'].idxmax()
max_crime = df_pivot.loc[listbox]
max_crime

#각 연도별 최고 검거율 범죄유형의 검거 건수 모두 합산하기
result = max_crime['검거건수'].sum()
result
#-------------------------------------------------------------------

7799

In [27]:
df_pivot

구분    연도    범죄유형  검거건수  발생건수       검거율
0   2014    강력범죄   500   800  0.625000
1   2014    교통범죄   550   900  0.611111
2   2014    기타범죄   600  1000  0.600000
3   2014    노동범죄   400   750  0.533333
4   2014    마약범죄   350   600  0.583333
..   ...     ...   ...   ...       ...
93  2020    지능범죄  1363  1500  0.908667
94  2020  특별경제범죄   600   950  0.631579
95  2020    폭력범죄   500   850  0.588235
96  2020    풍속범죄   400   750  0.533333
97  2020    환경범죄   500   850  0.588235

[98 rows x 5 columns]

In [13]:
#----------------------------------------------------------------------------
# 풀이 2
df.head()
cond1 = df['구분'] == '발생건수'
cond2 = df['구분'] == '검거건수'
df1 = df[cond1].iloc[:, 2:]
df2 = df[cond2].iloc[:, 2:]

list(df.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [9]:
# 검거율 계산 (검거건수/발생건수)
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df2/df1

print(df3)
# 각 연도에서 검거율이 가장 높은 범죄 유형
listbox = df3.idxmax(axis=1)

listbox

       강력범죄      절도범죄      폭력범죄      지능범죄      풍속범죄    특별경제범죄      마약범죄  \
0  0.625000  0.666667  0.533333  0.692308  0.571429  0.929400  0.583333
1  0.666667  0.928385  0.625000  0.733333  0.571429  0.600000  0.588235
2  0.588235  0.750000  0.922727  0.733333  0.571429  0.631579  0.555556
3  0.600000  0.555556  0.588235  0.687500  0.533333  0.631579  0.928571
4  0.931034  0.666667  0.588235  0.687500  0.533333  0.631579  0.555556
5  0.600000  0.555556  0.588235  0.687500  0.533333  0.631579  0.555556
6  0.600000  0.555556  0.588235  0.908667  0.533333  0.631579  0.555556

       보건범죄      환경범죄      교통범죄      노동범죄      선거범죄      병역범죄      기타범죄
0  0.588235  0.562500  0.611111  0.533333  0.562500  0.571429  0.600000
1  0.562500  0.611111  0.631579  0.562500  0.588235  0.533333  0.600000
2  0.562500  0.588235  0.611111  0.533333  0.562500  0.571429  0.631579
3  0.555556  0.550000  0.631579  0.562500  0.588235  0.533333  0.555556
4  0.562500  0.588235  0.611111  0.533333  0.562500  0.571429  0.631579
5  0.928571  0.550000  0.631579  0.562500  0.588235  0.533333  0.555556
6  0.562500  0.588235  0.611111  0.533333  0.562500  0.571429  0.631579

0    특별경제범죄
1      절도범죄
2      폭력범죄
3      마약범죄
4      강력범죄
5      보건범죄
6      지능범죄
dtype: object

In [ ]:

# 가장 높은 검거율을 기록한 범죄유형의 검거건수 가져오기
result = 0
for index,item in enumerate(listbox) :
    result = result +df2.loc[index,item]

result
#----------------------------------------------------------------------------

In [90]:
df.head()
year_list = df['연도'].unique()
print(year_list)

[2014 2015 2016 2017 2018 2019 2020]

In [88]:
df.head()

,연도,구분,강력범죄,절도범죄,폭력범죄,지능범죄,풍속범죄,특별경제범죄,마약범죄,보건범죄,환경범죄,교통범죄,노동범죄,선거범죄,병역범죄,기타범죄
0,2014,발생건수,800,900,750,650,700,1034,600,850,800,900,750,800,700,1000
1,2014,검거건수,500,600,400,450,400,961,350,500,450,550,400,450,400,600
2,2015,발생건수,900,768,800,750,700,1000,850,800,900,950,800,850,750,1000
3,2015,검거건수,600,713,500,550,400,600,500,450,550,600,450,500,400,600
4,2016,발생건수,850,800,880,750,700,950,900,800,850,900,750,800,700,950

In [15]:
grouped = df.groupby(['연도', '구분']).sum()
#행 별로 계산 어려울 것 같아서 pivot을 해본다.
grouped
df.loc[pd.IndexSlice[:, '구분']]
#grouped['합계'] =  grouped.iloc[:, 0:].sum(axis=1)
#grouped.head()

#2014의 검거건수/발생건수를 구해서 검거율을 넣고 싶다.
#level 1 컬럼과 2 컬럼 접근법? 헉 ㅠㅠ

0     발생건수
1     검거건수
2     발생건수
3     검거건수
4     발생건수
5     검거건수
6     발생건수
7     검거건수
8     발생건수
9     검거건수
10    발생건수
11    검거건수
12    발생건수
13    검거건수
Name: 구분, dtype: object

In [ ]:

# 연도의 길이를 구하고.
# 각 연도에서 검거건수와 발생건수를 구해서 검거율 구하기?
pivot_tb = df.pivot_table(columns=['연도', '구분'])
#for i in year_list : 
#   pivot_tb.loc[:, i].loc[:, '검거율'] = pivot_tb.loc[:, i].loc[:, '검거건수'] / pivot_tb.loc[:, i].loc[:, '발생건수']

In [104]:
pivot_tb

연도     2014       2015       2016       2017        2018        2019        \
구분     검거건수  발생건수 검거건수  발생건수 검거건수 발생건수  검거건수  발생건수  검거건수  발생건수  검거건수  발생건수
강력범죄    500   800  600   900  500  850   600  1000  1350  1450   600  1000
교통범죄    550   900  600   950  550  900   600   950   550   900   600   950
기타범죄    600  1000  600  1000  600  950   500   900   600   950   500   900
노동범죄    400   750  450   800  400  750   450   800   400   750   450   800
마약범죄    350   600  500   850  500  900  1300  1400   500   900   500   900
병역범죄    400   700  400   750  400  700   400   750   400   700   400   750
보건범죄    500   850  450   800  450  800   500   900   450   800  1300  1400
선거범죄    450   800  500   850  450  800   500   850   450   800   500   850
절도범죄    600   900  713   768  600  800   500   900   600   900   500   900
지능범죄    450   650  550   750  550  750   550   800   550   800   550   800
특별경제범죄  961  1034  600  1000  600  950   600   950   600   950   600   950
폭력범죄    400   750  500   800  812  880   500   850   500   850   500   850
풍속범죄    400   700  400   700  400  700   400   750   400   750   400   750
환경범죄    450   800  550   900  500  850   550  1000   500   850   550  1000

연도      2020
구분      검거건수  발생건수
강력범죄     600  1000
교통범죄     550   900
기타범죄     600   950
노동범죄     400   750
마약범죄     500   900
병역범죄     400   700
보건범죄     450   800
선거범죄     450   800
절도범죄     500   900
지능범죄    1363  1500
특별경제범죄   600   950
폭력범죄     500   850
풍속범죄     400   750
환경범죄     500   850

# 각 연도의 검거건수/발생건수를 구해서 검거율을 넣고 싶다.
# #level 1 컬럼과 2 컬럼 접근법? 
# 반복문 돌려야 할 것 같은데, 이 외에 방법이 없나?

In [101]:
pivot_tb['검거율'] = pivot_tb['검거건수']/pivot_tb['발생건수']
pivot_tb

구분                            검거율
검거건수        발생건수
400.000000  721.428571   0.554455
            728.571429   0.549020
421.428571  771.428571   0.546296
471.428571  821.428571   0.573913
514.285714  892.857143   0.576000
530.285714  832.857143   0.636707
571.428571  921.428571   0.620155
            950.000000   0.601504
573.285714  866.857143   0.661338
585.714286  907.142857   0.645669
592.857143  921.428571   0.643411
651.571429  969.142857   0.672317
651.857143  864.285714   0.754215
678.571429  1000.000000  0.678571
2017.000000 2017.000000  1.000000

# 문제 3 -----------------------------------------------------------

In [29]:
import pandas as pd
df = pd.read_csv("hr.csv")

In [30]:
df.head()

    사원번호         부서 성과등급         연봉  근속연수  교육참가횟수  만족도
0  E0001  Marketing    B   73200000  14.0       5  6.0
1  E0002         IR    A   95100000   3.0       4  9.0
2  E0003    Manager    B   44700000   5.0       2  8.0
3  E0004         IR    B  122100000  16.0       3  8.0
4  E0005         IR    C   66000000   NaN       4  8.0

##### 1) 만족도의 결측치는 만족도의 평균값으로 대체
- 만족도의 평균값 구하기 
- 만족도의 결측치 대체하기

In [31]:
df['만족도'].fillna(df['만족도'].mean(), inplace=True)

##### 2) 근속연수의 결측치는, 같은 부서 내에서 동일한 성과등급을 가진 직원들의 평균 근속연수로 대체. 이 때 평균 근속연수는 소수점 이하를 절사하여 정수로 변환하여 사용한다.

-> transform 사용방법 및 적용 방법 다시 확인하기

In [71]:
df.groupby(['부서', '성과등급']).agg('mean')

                          연봉       근속연수    교육참가횟수       만족도  평균근속연수
부서        성과등급
Finance   A     9.384643e+07  11.321429  3.375000  5.322950    11.0
          B     1.035620e+08  10.160000  3.380000  4.582727    10.0
          C     9.719796e+07   9.897959  3.408163  4.859230    10.0
HR        A     9.754727e+07   9.945455  3.672727  5.128202    10.0
          B     1.004554e+08   9.785714  3.000000  5.198559    10.0
          C     9.161321e+07  10.735849  3.283019  5.417024    11.0
IR        A     9.156429e+07  11.821429  3.375000  4.984578    12.0
          B     9.400000e+07  10.629630  3.629630  4.891730    11.0
          C     9.101452e+07  10.548387  3.629032  5.324230    11.0
Manager   A     9.840213e+07  11.063830  3.425532  4.383704    11.0
          B     9.281587e+07  10.857143  3.349206  4.874910    11.0
          C     9.336818e+07  10.750000  3.318182  4.910253    11.0
Marketing A     9.136441e+07  11.033898  3.474576  5.120378    11.0
          B     1.022983e+08  11.534483  3.741379  5.191712    12.0
          C     8.725965e+07   9.403509  3.350877  4.652113     9.0
Sales     A     9.376167e+07   8.183333  3.350000  4.802273     8.0
          B     9.969630e+07   9.425926  3.574074  5.076284     9.0
          C     9.900149e+07  11.029851  3.791045  5.346336    11.0

In [51]:
# 같은 부서 내에서 동일한 성과등급을 가진 직원들의 평균 근속연수
grouped = df.groupby(['부서', '성과등급'])
#grouped['평균근속연수']  = grouped['근속연수'].transform('mean')
#근속연수의 결측치 
df['평균근속연수'] = round(grouped['근속연수'].transform('mean'),0).astype(int)
#df.groupby(['부서', '성과등급']).mean()

df['근속연수'].fillna(df['평균근속연수'], inplace=True)

In [52]:
df

      사원번호         부서 성과등급         연봉  근속연수  교육참가횟수  만족도  평균근속연수
0    E0001  Marketing    B   73200000  14.0       5  6.0      12
1    E0002         IR    A   95100000   3.0       4  9.0      12
2    E0003    Manager    B   44700000   5.0       2  8.0      11
3    E0004         IR    B  122100000  16.0       3  8.0      11
4    E0005         IR    C   66000000  11.0       4  8.0      11
..     ...        ...  ...        ...   ...     ...  ...     ...
995  E0996    Finance    B   90400000  15.0       3  2.0      10
996  E0997         IR    C  147600000  12.0       5  5.0      11
997  E0998      Sales    C   95600000   4.0       4  9.0      11
998  E0999      Sales    C   94400000   8.0       6  1.0      11
999  E1000         IR    A   92400000   9.0       2  5.0      12

[1000 rows x 8 columns]

##### 3) 각 직원의 '연봉/근속연수' 값을 계산하여, 그 값이 세 번째로 큰 직원의 근속연수를 구하시오.

In [64]:
number3= df.loc[ (df['연봉']/df['근속연수']).nlargest(3).index[-1] ]['근속연수']

In [65]:
number4 = df.loc[ (df['연봉']/df['만족도']).nlargest(2).index[-1] ]['교육참가횟수']

In [66]:
int(number3 + number4)

7