# 문제 1 --------------------------------------------------------------

결측치가 있는 데이터의 행을 제거하고, 앞에서부터 70%의 데이터만 활용해 f1 컬럼 1사분위 값을 구하시오. (소수점 제거 후 정수 출력)

In [1]:
import pandas as pd
df = pd.read_csv('members.csv')

In [2]:
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

In [3]:
df = df.dropna()

In [6]:
df_len = len(df)
print(df_len)

51

In [ ]:
#앞에서부터 70%의 데이터만 이용하기?
# 행 인덱스

In [12]:
result = df.iloc[0:int(len(df)*0.7)]

In [16]:
q1 =result['f1'].quantile(0.25)
print(q1)

57.0

In [17]:
int(round(q1,0))

57

# 문제 2 --------------------------------------------------------------

2000년 데이터 중 2000년 평균보다 큰 값의 데이터 수를 구하시오 (index = 연도
)

In [18]:
import pandas as pd
df = pd.read_csv('year.csv', index_col='Unnamed: 0')

In [36]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
1999,137,74,114,140,80,150,16,133,178,181,...,124,94,118,12,50,191,137,174,56,128
2000,176,87,64,110,128,16,8,4,123,87,...,59,22,3,108,17,104,101,161,156,43
2001,128,132,123,112,134,160,180,47,115,155,...,160,111,116,75,48,51,81,101,194,73

In [38]:
df.mean(axis=0)

0      147.000000
1       97.666667
2      100.333333
3      120.666667
4      114.000000
          ...
195    115.333333
196    106.333333
197    145.333333
198    135.333333
199     81.333333
Length: 200, dtype: float64

# [?] index _ col은 왜 준걸까? -> 2000, 과 같은 index의 이름 불러오는 것

In [35]:
df_2000_mean = df.loc[2000,].mean(axis=1)

ValueError: No axis named 1 for object type Series

In [30]:
cond1 = df.loc[2000,] > df_2000_mean #행이고 열이고

In [31]:
cond1

0       True
1      False
2      False
3       True
4       True
       ...
195     True
196     True
197     True
198     True
199    False
Name: 2000, Length: 200, dtype: bool

In [34]:
len(df.loc[2000,][cond1])

100

# 문제 3 --------------------------------------------------------------

결측치가 가장 많은 컬럼명을 출력하시오.

In [39]:
import pandas as pd
df = pd.read_csv('members.csv')

In [43]:
df.isna().sum().idxmax()

'f1'

In [ ]:
# 또는 가장 상위에 있는 인덱스 index[0]으로 접근!