# 문제 -----------------------------------------------
차량의 특징 기반 데이터를 활용해 test 데이터의 중고차 가격을 예측하시오.

In [2]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.shape, test.shape

((3759, 9), (1617, 8))

In [4]:
train.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,EcoSport,2017,10298,Manual,25013,Petrol,150,53.3,1.0
1,Focus,2016,10491,Manual,30970,Diesel,0,74.3,1.5
2,S-MAX,2017,13498,Manual,60200,Diesel,150,56.5,2.0
3,Fiesta,2018,10600,Manual,27380,Petrol,145,56.5,1.0
4,Fiesta,2018,11000,Manual,7724,Petrol,145,65.7,1.0

In [5]:
target = train.pop("price")

In [6]:
train.isna().sum(), test.isna().sum()

(model           0
 year            0
 transmission    0
 mileage         0
 fuelType        0
 tax             0
 mpg             0
 engineSize      0
 dtype: int64,
 model           0
 year            0
 transmission    0
 mileage         0
 fuelType        0
 tax             0
 mpg             0
 engineSize      0
 dtype: int64)

In [7]:
train["is_train"] = 1
test["is_train"] = 0

concat_data = pd.concat([train, test])

In [8]:
concat_data = pd.get_dummies(concat_data)

In [9]:
concat_data.shape

(5376, 31)

In [10]:
concat_data.head()

,year,mileage,tax,mpg,engineSize,is_train,model_ B-MAX,model_ C-MAX,model_ EcoSport,model_ Edge,...,model_ Puma,model_ S-MAX,model_ Tourneo Connect,model_ Tourneo Custom,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Hybrid,fuelType_Petrol
0,2017,25013,150,53.3,1.0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
1,2016,30970,0,74.3,1.5,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,2017,60200,150,56.5,2.0,1,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
3,2018,27380,145,56.5,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,2018,7724,145,65.7,1.0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [12]:
train = concat_data[ concat_data['is_train'] == 1].drop("is_train", axis=1)
test = concat_data[ concat_data['is_train'] == 0].drop("is_train", axis=1)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train, target, test_size =0.2, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()

In [15]:
model = rf.fit(X_train, y_train)

In [16]:
model_pred = model.predict(X_val)

In [17]:
print(model_pred)

[11384.67       19558.25        7114.99       15455.68
 11057.14       18117.96       21587.66       19154.99
 14145.95       18377.53        7749.19       16842.53
  6014.08       10991.78        7423.35       11882.48
  7540.85        9624.57        9570.01       16006.1
  6911.91        6180.71        7717.4935     22954.74
 10197.47       18198.9        16634.84       16793.2
 13205.22       11007.68       12466.48       17168.69
 12893.41       13594.62       10100.01       13608.56
  9917.25        5943.31       11767.99       12622.37
 22645.02       27602.7        19984.37       14890.08
  8979.91       16760.01        6213.75       17924.67
  7724.15        6854.63       10221.8        26360.28
 14423.11       13282.08       10825.21        7594.11
  7830.61       12618.71       11806.22       17020.68
  8072.73        9732.43        7491.43       12247.17
 10554.28       12732.09       13621.59       14742.7
  9601.65       26645.04        6682.95        6466.4
 11644.14        3550.73       13770.85       10610.54
  9995.97       10310.89        7927.33       15222.03
 14068.41       13469.53        6048.81       14212.73
 15598.31       10831.66        9758.26       11383.29
 11395.42        9288.01        8427.01       10826.59
 10954.96        9428.36       10616.8        10321.72
 13386.81       15542.14       14918.35       14623.93
  9747.63       18701.12       10154.95        9444.4
  7223.81       10182.58        7695.92       16473.5
 14807.18       14297.19       11223.9         7210.14
  8944.59        8778.39        5214.42        8465.62
 11177.24       12996.24       15211.35        4859.75
 13191.68       15651.43       15708.06       12245.42
 16121.33        7720.25       17219.52       11101.19
 12505.8         9497.6         8231.62       17665.03
 12828.44        7687.45       17620.6        12153.04
  8934.79        7379.72       11029.66       10262.42
  9439.99       10944.22        9442.64       10212.75
 11048.01        8495.32       23686.27       11312.51
 16098.99        5757.03       14542.14        9362.02
 16996.81       12902.02       14133.87       14952.44
 18519.36       12390.3         8882.29       23518.24
  5965.35       18902.86       11049.25       20227.94
 12973.22        8497.72       11628.97        9568.98
 12785.06        3763.3         8601.42       10332.71
 10620.25        7970.9        22662.17        9369.89
  7810.52       12251.71       14014.63       13134.37
 10016.1        12398.2        15432.87        7997.
 16718.14       14711.87       10585.68333333  7830.11
  9401.4        19933.55       17096.97       15659.51
 18651.31       10037.89       14768.12        9381.12
 14982.58        9379.65       23862.09       15763.27
  8016.6        13287.13        9281.18        8052.61
 11187.57       12292.89        9595.69       11471.1
 20403.78       17597.04        2620.96       15781.7
 15368.39        8541.27        8051.52       16870.785
  8265.78        8412.81        9083.23       17314.44
  9062.54       10938.66        8007.85        8396.63
  3494.92        9480.78        7122.94        8682.43
 13293.68        4980.83       13102.18       13633.04
 16811.21        7600.94        8526.13       10696.06
  8241.17       27421.5         8553.67        9196.97
 16781.81        8031.86       13295.28        9108.6
  9776.44       10248.18        6421.11       18667.
 20458.45       11445.47       14404.35        5687.39
 10030.63       15553.16       15079.62       12899.17
 15081.03        7161.8         9034.75       10675.05
  9987.59        8322.95        5455.38       19299.04
 15790.55416667  6175.46       13805.22       16664.93
 10929.6        17433.63        8943.09       10654.16
  8365.81        8646.72       10916.2        15967.05266667
 12250.48       11194.05       10691.08       14174.67
 16573.76        8959.51        6255.          8366.725
 17618.25       14142.61       12482.99       12411.48
  6914.03       19392.48       16831.12       10555.42
  7607.58       18305.19       10360.8        10149.99
 12112.99       16084.6        12194.53       17136.44
 17293.315      12142.96       15638.32       15314.75
  9228.69       17012.85       12049.66        5621.45
 18142.07       10324.31       12351.04        6790.18
 14661.58       11399.33       11023.81       10761.18
 14268.27       14536.25       19973.46       23741.55
  8106.82        8720.74       17950.14       16030.3
 15015.554       8508.28       20272.44       10793.23
  7771.72       16528.09        8356.26       16376.42
 14914.18        9576.82        9370.69        4086.18
 18815.59       11169.26       17742.71       15820.24
 12530.71       11547.57       10579.83        8677.49
 11067.9        28575.72       26313.72        9625.06
  7159.75       18368.66       13244.44        6941.59
 16843.32        8433.785       8011.11       14964.56
 14985.52       16399.11        9937.65       10568.1
  9941.47       14889.16       10536.42       16770.55
 15799.47       16620.63       17145.88       15887.33
  5673.27       14117.94        7707.16       18931.11
  3007.91       15090.55       12046.11       10322.67
 15450.89       17767.41       17873.47       14961.56
 10892.2        16440.64       17733.99       10903.52
  7179.18       12939.75       10803.05       11763.87
 16165.9         8524.3         7187.73       13764.52
 14154.46       16928.16        7995.         14041.19
 17824.31        2665.39        7281.23       14867.4
 10164.51       10398.42        9598.81       10353.56
 13653.15        4942.47       11582.5         9508.78
 13505.52       14257.1        12658.38       12862.69
 17611.06       14805.7        19900.79       18417.38
 17455.07       10149.64       15758.75        7161.8
 10451.55        7989.4        18784.59       14734.28
 19639.81        9260.07       14393.62        8687.73
  9179.62       10679.16       13709.46       19368.19
  7944.45       17915.44       27130.12       17177.
  8681.87        8552.77       14985.07        3003.23
 17096.5275      3652.17       16403.35        9235.01
 20305.79       31838.86       15250.51       11859.3
 15811.98        3379.39       15833.8         9186.75
  7066.31       14020.77        6651.98       14696.7
 17926.34       16403.88        8965.55       11765.03
 22029.94       10487.8         7466.77       10623.27
 11996.28        7487.5        40793.83        9834.2
  8458.67       12355.2        23041.48       11659.79
 10686.35        7025.74        8641.48        7169.16
 13042.5         9762.92        7206.36        7902.72
  8794.28        9061.03       12153.04       10551.89
 10300.57       10460.59        8862.78       14042.55
  8562.         14802.23       17928.4        17141.38
 14620.51       16796.85        7159.42       10285.24
 13779.01       19242.99        9401.4        10726.33
 15081.03        2927.42       13287.13       14448.2
  7177.62       17519.99       19314.72       10745.27
 10903.52       11457.46       14598.57       19671.11
 12836.71       12007.29        5233.15       15536.99
 11629.93       10290.79       10476.37       17456.54
 17058.22        9765.87       11443.7        19616.
 17322.56        5904.11       19215.86       20538.59
 11274.31       13637.35        7944.61        9518.66
  9743.61       18456.06       11286.58        9884.19
 13705.54       13743.03        6079.1        18209.49
  8399.23        6495.89       14271.92        7776.09
  8419.63       11521.1         9542.55       13386.39
 12760.54        7902.52        9200.99       11552.43
  7738.68       10892.68        7928.38        7401.74
 14577.19       18684.63       21527.86       14534.92
 17971.85        7264.04       11934.97       14493.38
 11615.9         7280.43       11759.39       13777.39
  9191.22       12871.05        9892.73       11084.94
 20253.41        9803.21       14288.22        7114.59
 12809.11        6874.66       13458.77       10341.19
  5539.94        7995.         31263.97        8682.98
  9230.5         3863.78       19748.65       14548.44
 11136.49       12378.34        6006.74       20514.75
 14042.2        14076.16        9787.79       14245.38
  8463.36       11220.97       17911.92       12282.94
 23840.86       15228.3        13769.22       10107.91
 12267.9         6151.31       12791.5         1786.74
 13205.18       15873.63        9692.17        6640.2
 18528.45       14902.03        9758.43        2526.77
 18646.41       19454.81       15722.81       18760.43
 11090.56       10268.84        7479.61       30359.12
 15036.54       25273.94        7399.76       16680.3
 18316.1        10987.46       20772.5         9606.63
 14789.3        15320.62       13435.18       16462.7325
  3336.09       12988.2        10100.59       10501.25
 14948.48       15824.1        11197.35       13541.93
 22753.2        13471.5        11511.47        8245.81
 17701.08        8120.57       20136.94        9636.01
  9503.64       16540.06        6902.59        7756.88
 11935.42       11062.99        9846.87        7925.26
 11067.9        11291.34       12391.85       11553.13
  8677.47       14332.22       11652.71       17788.4
 14956.69       15814.96        9288.78        9694.51
 17047.7975      9964.84       17610.58       16058.91
 10906.53        8420.06        9526.97       20003.53
 12034.74        9299.1         7413.51       17180.42
  9394.88        4536.41        7946.43        8093.42
 11278.38        6524.67       20053.68       13658.56
  9276.28       17069.98        7499.2         7814.22
 10032.11        8010.1        18167.91       18062.83
  8400.79        7905.22       18915.42       14652.28
 17037.86        9766.95       21055.07       24133.61
  9292.77        9329.35       10805.18        6463.
  8722.53       16858.93        2585.74       12973.94
 10150.62       19193.69       15833.14       13941.73
 12165.87        8755.42       14536.52        5441.38
 11079.37       17831.46       12218.31       12549.83
 10199.59       14304.33       10935.57       15202.39
 12823.35        6023.78       21378.68       16323.02
  9750.51       11287.75       18899.2        17832.47
 17047.42       15997.39       14068.41       12231.48
  7204.6        17743.28        7152.23       13216.54
 11020.35       10491.67       10795.11        8484.43      ]

In [18]:
from sklearn.metrics import mean_squared_error

In [22]:
result = mean_squared_error(y_val, model_pred, squared=True)  # 또 바로 생각안난다

In [23]:
result

1991839.5284070424

In [25]:
final_result = model.predict(test)

# [!] 내가 model.predict(test) 의 결과값을 넘긴다는 것을 잊지말기.

In [26]:
pd.DataFrame({'pred':final_result}).to_csv("result.csv", index=False)